	<meta charset="utf-8">
	<title>DIAMOND CITY |</title>
	<meta name="description" content="">
	<!-- if IE use the latest rendering engine -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta https-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Set the page to the width of the device and set the zoom level -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./wp-content/themes/mytheme/css/bootstrap.min.css">
	<link rel="stylesheet" href="./wp-content/themes/mytheme/libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./wp-content/themes/mytheme/css/animate.css">
	<link rel="stylesheet" href="./wp-content/themes/mytheme/css/main.css">
	<style>body { opacity: 0; overflow-x: hidden; } </style>
	<link rel="shortcut icon" href="./wp-content/themes/mytheme/img/favicon.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
	<link rel="stylesheet" href="./Treant/Treant.css">
	<!--<link rel="stylesheet" href="./Treant/super-simple.css">-->
	<link rel="stylesheet" href="./Treant/collapsable.css">
	<link rel="stylesheet" href="./Treant/vendor/perfect-scrollbar/perfect-scrollbar.css">