<div>
	{{#if clientDataForget}}
		{{#each clientDataForget}}
			<p>Клиент "{{clientID}}, {{this.FIO}}", ссылка на сброс пароля выслан на ваш email.'</p>
			<p>Зайдите на вашу электронную почту, перейдите по высланной ссылке и придумайте новый пароль. После этого можете зайти в личный кабинет с новым паролем</p>
		{{/each}}
	{{else}}
		<p>Такой клиент {{clientID}} не найден, либо у него нет email. Для сброса пароля просим обратиться к администрации сайта</p>
	{{/if}}
	<p><a href='/'>Вернуться на сайт</a></p>
</div>