{{#if clientID}}

{{else}}

<div id="news-1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div>
				<!--
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h2 class="modal-title">Diamond city!!!! Путевка!!!</h2>
				</div>
				<div class="modal-body text-product">
					<div class="row" style="width: 100%; margin: auto;">
						<div style='height: 20%; width: 20%; object-fit: contain; float: left;'>
							<img src="./wp-content/uploads/news/01/pic01.jpg" style='height: 100%; width: 100%; object-fit: contain;' alt="pic01" />
						</div>
						<div style='height: 20%; width: 20%; object-fit: contain; float: left;'>
							<img src="./wp-content/uploads/news/01/pic02.jpg" style='height: 100%; width: 100%; object-fit: contain;' alt="pic02" />
						</div>
					</div>
					<p><strong>Условия очень просты:</strong></p>
					<ol>
						<li>Вход Сапфир - 54 человека при наличии 2 и более рабочих веток «Путевка»!!!!</li>
						<li>VIP вход  - 20 человек с командой, при наличии 2 и более рабочих веток, бонус компании «Путевка»!!!</li>
					</ol>
					<p>В Честь годовщины только до 1 апреля 2019 года!!!</p>
				</div>
				-->
				<!--
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h2 class="modal-title">Лотерея техника!</h2>
				</div>
				<div class="modal-body text-product">
					<div class="row" style="width: 100%; margin: auto;">
						<div style='height: 20%; width: 20%; object-fit: contain; float: left;'>
							<img src="./wp-content/uploads/news/02/pic02_01.jpg" style='height: 100%; width: 100%; object-fit: contain;' alt="pic01" />
						</div>
						<div style='height: 20%; width: 20%; object-fit: contain; float: left;'>
							<img src="./wp-content/uploads/news/02/pic02_02.jpg" style='height: 100%; width: 100%; object-fit: contain;' alt="pic02" />
						</div>
					</div>
					<p>Дорогие партнеры с 23.01по 23.03 в честь годовщины при подписке входа Сапфир (50000 тг), вы получаете номерки и имеете возможность участвовать в лотерее бытовой техники на годовщине, главный приз телевизор!!!</p>
					<p>Құрметті партнерлар 23.01-23.03 аралығында компанияның 1 жылдығына орай Сапфир 50000 пакетіне тіркеліп, мерей тойда коптеген техниканы ұтып алуға мүмкіндік туады, жіберіп алманыз, басты сыйлык теледидар!!!!!</p>
				</div>
				-->

				<!--
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h2 class="modal-title">Лотерея VIP!</h2>
				</div>
				<div class="modal-body text-product">
					<div class="row" style="width: 100%; margin: auto;">
						<div style='height: 20%; width: 20%; object-fit: contain; margin: auto;'>
							<img src="./wp-content/uploads/news/03/pic03_01.jpg" style='height: 100%; width: 100%; object-fit: contain;' alt="pic01" />
						</div>
					</div>
					<p>Внимание!!! Внимание!!! В честь годовщины компании Diamond City с 23.01.2019 по 23.03.2019 при подписке  на VIP вход, автоматически участвуют в Лотерее на годовщине компании Автомобиль!!!!! У каждого есть шанс получить Машину мечты от компании, участвуйте в лотерее!!!!!</p>
					<p>Назар аударыныз, Назар аударыныз!!!! Diamond Сity компаниясының 1 жылдық мерей тойына арнап, компания 23.01.2019-23.03.2019 - 2 ай аралығында VIP входка тіркеліп, Автокөлік лотереясына қатысуға мүмкіндік аласыз!!! Бағынызды сынап көрініз, мумкін сіз Автокөлік иегері боласыз!!!!</p>
				</div>
				-->

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>

        </div>
    </div>
</div>
<!--
<script>
	$(document).ready(function(){
		$("#news-1").modal();
	});
</script>
-->

<div id="loginblock" style="display: none;">
    <div class="container" id="cab">
        <p>Вход в личный кабинет клиента</p>
        <form action="/cab" method="post" name="CabLoginForm">
            <input type="text" name="login" id="login" placeholder="ID" />
            <input type="password" name="pwd" id="pwd" placeholder="пароль" />
            <div id="divRegNewClient" style="display: none;">
				<div class="form-group" id="divFIO" hidden>
					<input type="text" name="Lastname" id="Lastname" placeholder="Фамилия"  />
					<input type="text" name="Firstname" id="Firstname" placeholder="Имя"  />
					<input type="text" name="Middlename" id="Middlename" placeholder="Отчество"  />
				</div>
				<div class="form-group" id="divIIN" hidden>
					<input type="text" name="IIN" id="IIN" placeholder="ИИН" hidden />
					<input type="email" name="email" id="email" placeholder="email" hidden />
				</div>
				<div class="form-group" id="divMobphone" hidden>
					<label for="Mobilephone"id="lbMobphone" hidden>Моб. тел. (7-7ХХ-ХХ-ХХ)</label>
					<input type="tel" name="Mobilephone" id="Mobilephone" pattern="7-7[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}" value="7-700-000-00-00" hidden />
				</div>
				<div class="form-group" id="divIDParent" hidden>
					<input type="text" name="IDParent" id="IDParent" placeholder="ID пригласившего" hidden />
				</div>
				<div class="form-group" id="divPlantype" hidden>
					<label for="selIDPlanType">Вид входа</label>
					<select id="selIDPlanType" name="IDPlanType">
						<option value="1" selected>20'000-Start</option>
						<option value="2">50'000-Сапфир</option>
						<option value="4">200'000-VIP</option>
					</select>
				</div>
			</div>
            <input type="submit" class="btn btn-primary" name="btnLogin" name="btnLogin" value="Войти" />
			<button class="btn btn-link" formaction="/forgetpwd" id="linkForgetPwd">Забыли пароль?</button>
            <br />
			<div id="divMSGForgetPwd"></div>
            <input type="checkbox" name="registration" id="registration" /> Регистрация
        </form>
        <script>
            $('#registration').click(function() {
                if ($("#registration").is(":checked")) {
                    $("#divRegNewClient").show();
					
					$('#login').hide(1000);
					//$('#Lastname').show(1000);
                    //$('#Firstname').show(1000);
					//$('#Middlename').show(1000);
                    $('#IDParent').show(1000);
					$('#email').show(1000);
					$('#IIN').show(1000);
					$('#lbMobphone').show(1000);
					$('#Mobilephone').show(1000);
					$('#divFIO').show(1000);
					$('#divIIN').show(1000);
					$('#divMobphone').show(1000);
					$('#divIDParent').show(1000);
					$('#divPlantype').show(1000);
                } else {
					$("#divRegNewClient").hide();
					
					$('#login').show(1000);
                    //$('#Lastname').hide(1000);
                    //$('#Firstname').hide(1000);
					//$('#Middlename').hide(1000);
                    $('#IDParent').hide(1000);
					$('#email').hide(1000);
					$('#IIN').hide(1000);
					$('#lbMobphone').hide(1000);
					$('#Mobilephone').hide(1000);
					$('#divFIO').hide(1000);
					$('#divIIN').hide(1000);
					$('#divMobphone').hide(1000);
					$('#divIDParent').hide(1000);
					$('#divPlantype').hide(1000);
                }
            });
			$("#linkForgetPwd").click(function() {
				console.log("forgetPWD clicked");
				var nIDClient = $('#login').val();
				console.log("ID="+nIDClient);
				/*$.ajax({
					url: '/forgetpwd',
					method: "post",
					data: {
						idclient: nIDClient
					},
					//dataType: "json",
					//cache: false,
					success: function (data) {
						var msg = '<p>Пароль отправлен на ваш email</p>';
						$("#divMSGForgetPwd").val() = msg;
						console.log(data);
					}
				});*/
			});
        </script>
    </div>
</div>
{{/if}}
<script>
	$('#logindivlink2').click(function() {
		$('#logindivlink').click();
	});
	$('#logindivlink').click(function() {
		if ( $("#loginblock").css('display') == 'none' || $("#loginblock").css("visibility") == "hidden"){
			$("#loginblock").show();
		}
		else {
			$("#loginblock").hide();
		}
	});
</script>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">

            <section class="_main">
                <img class="_main_fon" width="100%" src="./wp-content/uploads/2018/02/Baiterek.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <div class="_main_block">
                                <h1>Diamond City</h1>
                                <p>
                                    <p>Казахстанская компания</p>
                                    <p><img class="alignnone size-full wp-image-143" src="./wp-content/uploads/2018/02/kazakhstan.png" alt="" width="64" height="64" /> </p>
                                    <p>&nbsp;</p>
                                </p>
                                <a href="#" data-target="#slide-4" data-toggle="modal">
                                    <button>Подробнее >></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="item">

            <section class="_main">
                <img class="_main_fon" width="100%" src="./wp-content/uploads/2018/02/AltynAdam.jpeg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <div class="_main_block">
                                <h1>Diamond City</h1>
                                <p>
                                    <p>Казахстанская компания</p>
                                    <p><img class="alignnone size-full wp-image-143" src="./wp-content/uploads/2018/02/kazakhstan.png" alt="" width="64" height="64" /> </p>
                                </p>
                                <a href="#" data-target="#slide-7" data-toggle="modal">
                                    <button>Подробнее >></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div id="slide-4" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Diamond City</h2>
            </div>
            <div class="modal-body">
                <strong>Дорогие будущие Миллионеры!</strong>
                <p>Мы рады представить вам компанию Diamond city. Наша продукция понравится и принесет Вам и Вашим близким много пользы, а компания финансовую независимость.</p>
                <p>Главная задача компании
                    <br> Обеспечить партнеров высококачественной продукцией и создать условия для успешного развития бизнеса.</p>

                <p>Преимущества сотрудничества с <span>Diamond city:</span></p>
                <ul>
                    <li>Вы можете быстро увеличить свой доход;</li>
                    <li>Мы продвигаем продукцию высочайшего качества на рынок через взаимовыгодное партнерство с независимыми дистрибьюторами;</li>
                    <li>Карьерный рост;</li>
                    <li>Вы можете построить бизнес не только в Казахстане, но и за ее пределами;</li>
                    <li>Мы заинтересованы в Вашем успехе и готовы создать условия для плодотворного развития вашего бизнеса;</li>
                </ul>
                <p>Желаем Вам больших финансовых успехов и крепкого здоровья!</p>
            </div>
        </div>
    </div>
</div>
<div id="slide-7" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Diamond City</h2>
            </div>
            <div class="modal-body">
                <strong>Дорогие будущие Миллионеры!</strong>
                <p>Мы рады представить вам компанию Diamond city. Наша продукция понравится и принесет Вам и Вашим близким много пользы, а компания финансовую независимость.</p>
                <p>Главная задача компании
                    <br> Обеспечить партнеров высококачественной продукцией и создать условия для успешного развития бизнеса.</p>

                <p>Преимущества сотрудничества с <span>Diamond city:</span></p>
                <ul>
                    <li>Вы можете быстро увеличить свой доход;</li>
                    <li>Мы продвигаем продукцию высочайшего качества на рынок через взаимовыгодное партнерство с независимыми дистрибьюторами;</li>
                    <li>Карьерный рост;</li>
                    <li>Вы можете построить бизнес не только в Казахстане, но и за ее пределами;</li>
                    <li>Мы заинтересованы в Вашем успехе и готовы создать условия для плодотворного развития вашего бизнеса;</li>
                </ul>
                <p>Желаем Вам больших финансовых успехов и крепкого здоровья!</p>
            </div>
        </div>
    </div>
</div>

<section class="_about">
    <div class="container" id="about_company">
        <div class="row">
            <div class="col-md-9 col-xs-12 text-left _about_block wow fadeInLeftBig">
                <h3>О компании</h3>
				<p>Компания Diamond city с января 2018 года на рынке!</p>
				<p>Дорогие партнеры и будущие партнеры Diamond city, наша компания дает головокружительные возможности для Вас и вашей семьи</p>
				<p>Это значит? все Вы имеете возможность приумножить свой доход? быть директором компании и награждаться по достоинству.</p>
				<p>Правила очень просты:</p>
				<ul>
					<li>Вход "Старт": в команде когда у вас будет 128 человек, вы не только берете Денежный бонус, но и становитесь "Директор" компании, и дальше Вы будете с команды получать не по 1200 тг, а по 1500 тг</li>
					<li>Вход "Сапфир": имея в команде 64 человек, Вы становитесь "Рубиновый директор" и с команды будете получать не по 3000 тг, а по 3500 тг, (+Путевка) дальше собрав 128 человек вы получаете свой заслуженный Денежный бонус, и еще становитесь "Сапфировый директор" и с команды будете получать по 4000 тг.</li>
					<li>VIP вход: первые 30 человек Вас отправят на отдых (Путевка), далее 64 человек приведут Вас к статусу "Изумрудный директор" и ваш доход составит не 9000 тг, а 12000 тг с человека, а когда с командой будет 128 человек, Вы получите Автомобиль и +статус высшего уровня "Бриллиантовый директор" и будете получать по 15000 тг с человека</li>
				</ul>
				<p>Все статусы будут официально награждены сертификатами и специальными подарками от компании, только вперед, вы достойны только лучшего!</p>
				<p>(Главное правило: 2 и более рабочих веток)</p>
				<p></p>
				<p></p>
				<!--
                <p><strong>Дорогие будущие Миллионеры!</strong></p>
                <p>Мы рады представить вам компанию Diamond city. Наша продукция понравится и принесет Вам и Вашим близким много пользы, а компания финансовую независимость, а так же: денежные бонусы, электроника, золото, путевки и Автомобиль (всего лишь имея в команде 128 человек)! Все легко и просто!</p>
                <p>Преимущества сотрудничества с Diamond city:</p>
                <ul>
                    <li>Вы можете быстро увеличить свой доход;</li>
                    <li>Мы продвигаем продукцию высочайшего качества на рынок через взаимовыгодное партнерство с независимыми дистрибьюторами;</li>
                    <li>Карьерный рост;</li>
                    <li>Вы можете построить бизнес не только в Казахстане, но и за ее пределами;</li>
                    <li>Мы заинтересованы в Вашем успехе и готовы создать условия для плодотворного развития вашего бизнеса;</li>
                </ul>
                <p>Желаем Вам больших финансовых успехов и крепкого здоровья!</p>
				-->
            </div>
            <div class="_about_image wow fadeInRightBig"><img src="./wp-content/uploads/2018/02/countryKZ.png" alt=""></div>
        </div>
    </div>
</section>


<section class="_production">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left" id="product">
                <h3 class=" wow fadeInLeftBig">Продукция</h3>
            </div>
<!--
            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Мужская сила из пантов Марала и женьшеня</h4>
                    <div style="width: 50%; height: 50%">
						<img src="./wp-content/uploads/2018/05/IMG_3381-05-05-18-07-20-e1525556265654.jpg" style='height: 100%; width: 100%; object-fit: contain' alt="Male power from the antlers of Maral and ginseng">
					</div>
                    <a href="#" data-target="#product-342" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>

			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Будь здоров печеночный сбор</h4>
                    <div style="width: 50%; height: 50%">
						<img src="./wp-content/uploads/prods/печеночный сбор будь здоров.JPG" style='height: 100%; width: 100%; object-fit: contain' alt="be healthly">
					</div>
                    <a href="#" data-target="#product-372" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>
			
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Стоп нормализация и лечения гипертонии</h4>
                    <div style="width: 50%; height: 50%">
						<img src="./wp-content/uploads/prods/Нормализация и лечения гипертонии Стоп.JPG" style='height: 100%; width: 100%; object-fit: contain' alt="hygienic pencil">
					</div>
                    <a href="#" data-target="#product-373" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>
			
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Уражай витаминно мин комплекс</h4>
                    <div style="width: 50%; height: 50%">
						<img src="./wp-content/uploads/prods/Уражай витаминно мин комплекс.JPG" style='height: 100%; width: 100%; object-fit: contain' alt="hygienic pencil">
					</div>
                    <a href="#" data-target="#product-374" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>
			
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Супер спрей "Хит сезона"</h4>
                    <div style="width: 50%; height: 50%">
						<img src="./wp-content/uploads/prods/Супер спрей Хит сезона.jpg" style='height: 100%; width: 100%; object-fit: contain' alt="hygienic pencil">
					</div>
                    <a href="#" data-target="#product-375" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>
			
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>"Чудо Шарики" вагинальные</h4>
                    <div style="width: 50%; height: 50%">
						<img src="./wp-content/uploads/prods/Чудо Шарики вагинальные.jpg" style='height: 100%; width: 100%; object-fit: contain' alt="hygienic pencil">
					</div>
                    <a href="#" data-target="#product-376" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>
			
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Lodium life calcium</h4>
                    <div style="width: 50%; height: 50%">
						<img src="./wp-content/uploads/prods/IMG-20190531-WA0000.jpg" style='height: 100%; width: 100%; object-fit: contain' alt="Lodium life calcium">
					</div>
                    <a href="#" data-target="#product-377" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>
-->
			<div id="productList"></div>
			
          </div>
    </div>
</section>

<div id="productdescr"></div>

<div id="product-65" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Ежедневки от цистита (20 шт в упаковке)</h2>
            </div>
            <div class="modal-body text-product">
                <p>Ежедневки от цистита (20 шт в упаковке)</p>
                <ul>
                    <li>Устраняется зуд и воспаление</li>
                    <li>Снимаются болезненность и нерегулярность менструального цикла</li>
                    <li>Восстанавливается микрофлора влагалища,  припятствуя распространению патогенной флоры</li>
                    <li>Обеспечивается профилактика и лечение воспалительных процессов разного генеза</li>
                    <li>Устраняется дисгармональные нарушения.</li>
                </ul>
                <p>С ежедневными прокладками Fukang вы будете себя чувствовать комфортно весь день. К тому же, они позволяют коже дышать и идет нейтрализация неприятных запахов. Благодаря прочной клейкой основе, прокладка держится прочно на все время ее использования.</p>
                <p><strong><em>Показания к применению:</em></strong></p>
                <ul>
                    <li><em>Эрозия шейки матки</em></li>
                    <li><em>Воспаление слизистой оболочки матки, брюшного покрова матки, придатков</em></li>
                    <li><em>Воспалительные процессы органов малого таза, в том числе инфекционные венерические заболевания</em></li>
                    <li><em>Нарушение менструального цикла</em></li>
                    <li><em>Адаптация климактерического периода</em></li>
                    <li><em>Маточные кровотечения</em></li>
                    <li><em>Послеродовый период</em></li>
                    <li><em>Кольпит (в том числе старческий)</em></li>
                    <li><em>Геморрой</em></li>
                    <li><em>Воспаление мочевого пузыря</em></li>
                    <li><em>Цистит</em></li>
                    <li><em>Кандидоз</em></li>
                    <li><em>Радикулит поясничного отдела</em></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="product-321" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Мыло с маслом змеи 3 в 1 от морщин + от прыщей + отбеливание с коллагеном и витамином Е</h2>
            </div>
            <div class="modal-body text-product">
                <p>Мыло с эффектом "черной маски" с маслом змеи (жиром змеи) 3 в 1 используется для омоложения кожи и разглаживания морщин; для лечения проблемной и жирной кожи, склонной к образованию прыщей, угревой сыпи акне, черных точек, дерматоза, идеально выравнивает цвет кожи, осветляет пигментные пятна веснушки, разглаживает шрамы, морщины и пост акне.</p>
        				<p>Уникальные косметические свойства масла змеи (жира змеи) были открыты тысячелетия назад. Жир змей делает кожу упругой и гладкой. Защищает кожу от сухости, вялости и раздражения - делает кожу нежной и упругой. Отшелушивает верхние омертвевшие клетки, мгновенно обновляет кожу и эффективно улучшает состояние. Значительно уменьшается выработка секрета сальных желез, лицо выглядит здоровым и свежим. Благодаря современным технологиям, состоит из натуральных компонентов: жир змей, богатый витаминами и аминокислотами, экстракты лекарственных растений, белок, коллаген, витамин Е , арома добавки.</p>
        				<p>Способ применения: намылить лицо, избегая области вокруг глаз. Легкими движениями кончиков пальцев массировать кожу лица 1-2 минуты. Смыть пену теплой водой. использовать регулярно утром и вечером.</p>
        				<p>Состав:</p>
        				<ul>
        					<li>Экстракт масла змеи</li>
        					<li>Экстракт томата</li>
        					<li>Стеариновая кислота</li>
        					<li>Мятное масло</li>
        					<li>Глицерин</li>
        					<li>Экстракт гамамелиса</li>
        					<li>Кокосовое масло</li>
        					<li>Прополис</li>
        					<li>Витамин Е</li>
        				</ul>
            </div>
        </div>
    </div>
</div>
<div id="product-342" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Мужская сила из пантов Марала и женьшеня</h2>
            </div>
            <div class="modal-body text-product">
                <ol>
                    <li>Повышение потенции: быстро и мягко (безопасно) для организма обеспечивает устойчивую эрекцию уже через 15-25 минут после приёма. После оргазма происходит быстрое восстановление и мужчина может заниматься сексом не один раз за ночь. Увеличивается продолжительность полового акта, а время эрекции у мужчины может очень продолжительным (до 50 минут);</li>
                    <li>Лечебный эффект при наличии мужских заболеваний, а также отличная профилактика мужского здоровья.</li>
                </ol>
                <p><strong>Совместим с алкоголем, не краснеет лицо, не болит голова, не болит желудок. Можно применять мужчинам с гипертонией, кардиопатией и диабетом. </strong></p>
                <p>Пилюли  для почки рекомендуется применять при:</p>
                <ul>
                    <li>эректильной дисфункции;</li>
                    <li>импотенции;</li>
                    <li>преждевременной эякуляции;</li>
                    <li>атрофии пениса (для мужчин средних и преклонных лет);</li>
                    <li>воспалении простаты, частом и неполном мочеиспускании;</li>
                    <li>слабости функции почек, шум (звон) в ушах, болях в коленях и спине, бессоннице;</li>
                    <li>вялости, потере волос, слабой памяти;</li>
                    <li>бесплодии мужчины</li>
                    <li>отсутствии или пониженном сексуальном влечении.</li>
                </ul>
                <p><strong>Состав:</strong> женьшень из северо-восточного Китая, панты оленя из провинции Цзинхай, кордицепс китайский, снежный лотос.</p>
                <p><strong>Инструкция по применению:</strong> за 15-30 минут до постельного дела примите, запивая солоноватой водой, 1/2 ― 1 пилюлю (первый раз рекомендуется принимать 1/2 пилюли, чтобы определить подходящую Вам дозировку). Не принимайте более 1-ой пилюли в 24 часа. В случае передозировки (эрекция не проходит), пейте холодную воду, чай.</p>
                <p><strong>Противопоказания:</strong></p>
                <ul>
                    <li>не применять женщинам и несовершеннолетним мужчинам;</li>
                    <li>при индивидуальной непереносимости.</li>
                </ul>
                <p>БАД, не является лекарством.</p>
            </div>
        </div>
    </div>
</div>
<div id="product-345" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Сердечно-мозговые капсулы созданы по исключительно растительной рецептуре.</h2>
            </div>
            <div class="modal-body text-product">
                <p>Универсально защищают сердце и мозг, комплексно решают проблемы трех основных каналов жизни: кровь, желудочно-кишечный тракт и коллатерали.</p>
                <ol type="1">
        					<li>Исключают внутренний яд для предотвращения изменения и затвердения жира в крови.</li>
        					<li>Активизируют клеточные ферменты для улучшения качества крови.</li>
        					<li>Растворяют тромбы и быстро выводят их из организма с помощью метаболизма.</li>
        					<li>Помогают избежать вторичного загрязнения крови.</li>
        				</ol>
        				<p>Главные особенности продукта: останавливают конденсацию, изменение и загрязнение крови, сжигают жиры, выводят токсины, останавливают образование тромбоза, полностью улучшают три основные канала жизни: кровь, желудок и кишки, каналы и коллатерали.</p>
        				<p>Основные компоненты:</p>
        				<ul>
        					<li>флис-цветок корень,</li>
        					<li>корень пуерарии,</li>
        					<li>листья лотоса,</li>
        					<li>цветы хризантемы,</li>
        					<li>мушмула германская,</li>
        					<li>экстракт боярышника,</li>
        					<li>бигарадия,</li>
        					<li>гинкго, жемчуг,</li>
        					<li>экстракт косточек винограда,</li>
        					<li>природный прополис,</li>
        					<li>шалфей многокорневищный.</li>
        				</ul>
        				<p>Способ применения: 1 раз в день по 2 капсулы, запить стаканом теплой воды.</p>
        				<p>Упаковка: 0,4 граммах 60 капсул в бутылке.</p>
        				<p>Срок хранения: 24 мес.</p>
            </div>
        </div>
    </div>
</div>
<div id="product-356" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Женьшеневое мыло с экстрактами трав</h2>
            </div>
            <div class="modal-body text-product">
                <p>Мыло с экстрактом женьшеня — нежное, как бархатный крем, с мягким моющим действием. Мыло содержит вытяжку из корня женьшеня, которая устраняет следы усталости кожи, укрепляет клетки, питает их и наполняет влагой одновременно.</p>
                <p>В состав мыла входят сапонины. Пена, образуемая сапонинами, отличается от обычной мыльной пены тем, что она не содержит щелочи и поэтому не разъедает нежные ткани кожи лица и тела. Сапонины придают коже эластичность, активизируют регенерацию клеток, способствуют формированию новых клеток, повышают иммунитет кожи против бактерий.</p>
                <p>Мыло с женьшенем очень экономично в использовании и не размокает. Имеет мягкий и освежающий аромат женьшеня. Особая формула мыла при использовании обеспечивает обильную кремообразную пену и свежий аромат женьшеня.</p>
            </div>
        </div>
    </div>
</div>
<div id="product-357" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Таблетки содержат комплекс минералов и витаминов, используются для профилактики кариеса, пародонтоза, инфекций верхних дыхательных путей, кровоточивости десен.</h2>
            </div>
            <div class="modal-body text-product">
                <p>Состав: углекислый кальций, обезжиренное сухое молоко, маннитол, желатин, витамин ДЗ, фруктовый порошок.</p>
                <p>Действие: восполнение дефицита кальция, общеукрепляющее средство. Оказывает энергетическое, тонизирующее действие, увеличивает мочеотделение.</p>
        				<p>Показания: полезен при заболеваниях ротовой полости и гортани, верхних дыхательных путей. Для лечения и профилактики пародонтоза, кровоточивости десен, кариеса. В период активного роста у детей, если ребенок отказывается принимать порошковый кальций для детей. Показан при гипертонии, атеросклерозе, других сердечно-сосудистых заболеваниях. При остеопорозе, остеохондрозе. При заболеваниях желудочно-кишечного тракта, в т.ч. язвенном колите и болезни Крона, при которых возникает дефицит витамина ДЗ. Для работников профессий, связанных с дефицитом солнечного света. При проживании в климатических условиях и широтах с малым количеством солнечных дней. Используется для профилактики рака молочной железы и яичников, т.к. Витамин ДЗ усиливает защитное действие организма против этих видов рака.</p>
        				<p>Способ употребления: предварительно почистив зубы, разжевать или рассосать таблетку. Дозировка: дети до 7 лет по 1 таблетке 1 раз в день, дети до 14 лет-по 1 таб. 2 раза в день, взрослые - по 2-4 таб. в день. Содержание кальция в 1 таб.- 250 мг.</p>
        				<p>Курс приема: 1-3 месяца. </p>
        				<p>Форма выпуска: 60 таблеток х 1,2 г</p>
            </div>
        </div>
    </div>
</div>
<div id="product-364" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Настойка от печени, почек</h2>
            </div>
            <div class="modal-body text-product">
                <p>Настойка Тремулан Казахстанского производства</p>
        				<p>Показание к применению: Хронические заболевания печени, желчного пузыря, почек, предстательной железы, при подагре, лямблиозе, описторхозе.</p>
        				<p>Оказывает: противовоспалительное, противогрибковое и противопаразитарное действие</p>
        				<p>Состав: кора осины, трава мяты, трава тысячелистника и т.д.</p>
        				<p>Срок годности: 2 года</p>
        				<p>Способ применения: на упаковке</p>
            </div>
        </div>
    </div>
</div>
<div id="product-366" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Средство от ревматизма</h2>
            </div>
            <div class="modal-body text-product">
                <p>Средство от ревматизма имеет прекрасный лечебный эффект. При изготовлении данного продукта использовались японские народные секреты, а также теории медицины Древнего Тибета</p>
        				<p>Состав: различные лечебные травы, тоугоцао, змеиное масло, сюецзе, женьшень</p>
        				<p>Средство от ревматизма принимается при:</p>
        				<ul>
        					<li>псевдоревматизме</li>
        					<li>боли в пятках</li>
        					<li>Онемением конечностей</li>
        					<li>болями в мускулах</li>
        					<li>головная боль</li>
        					<li>артритом</li>
        					<li>остеохондроз</li>
        					<li>боли в поясницах</li>
        					<li>Невралгией седалищного нерва</li>
        					<li>грыжах позвоночника</li>
        					<li>заболевания костей</li>
        					<li>боли в ногах</li>
        				</ul>
        				<p>Противопоказания: беременные и дети.</p>
        				<p>Способ применения: 1-2 капсулы 2 раза в день</p>
        				<p>Срок годности 36 месяцев</p>
        				<p>Производитель: Китай по Японскому рецепту</p>
            </div>
        </div>
    </div>
</div>
<div id="product-367" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Интимный гель</h2>
            </div>
            <div class="modal-body text-product">
                <p>Данный препарат лечит эрозию шейки матки, сокращает влагалище и регулирует вагинальный кислотно-щелочной баланс, улучшит функцию иммунный системы, имеет хороший эффект при генитальном зуде, постороннем неприятном запахе, увеличении количества бели, вагините бактериальном, вагините трихомонадном, вагините грибковым.</p>
        				<p>Состав: экстракты из кордицепса, софоры, стемоны, жгун-корня Моннье, гриба пория, сафлора красильного, алоэ и борнеола</p>
        				<p>Номер санитарного надзора: ШЭЙ0165-2013г.</p>
        				<p>Форма: 5г</p>
        				<p>Срок хранения: на упаковке</p>
        				<p>Код ТН ВЭД 3304990000</p>
            </div>
        </div>
    </div>
</div>
<div id="product-368" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Пчелиный подмор</h2>
            </div>
            <div class="modal-body text-product">
                <p>Пчелиный подмор - это природный лекарь, из мертвых тел пчел, в нем есть пчелиное молочко, прополис, мед, жир, воск и хитиновый слой (хитозан)</p>
        				<p><strong>Показание к применению:</strong></p>
        				<p>* сосудов – варикоз, тромбангиит, тромбофлебит и эндартериит;</p>
        				<p>* желез – щитовидной и поджелудочной;</p>
        				<p>* почек;</p>
        				<p>* онкологические;</p>
        				<p>* печени;</p>
        				<p>* кожные, в том числе нейродермит и псориаз;</p>
        				<p>* дыхательных путей – туберкулез, бронхит, пневмония и бронхиальная астма;</p>
        				<p>* суставов и костей – полиартрит и артроз;</p>
        				<p>* пищеварительной системы – колит, гастрит, язвы, холецистит, панкреатит и колит;</p>
        				<p>* снижение иммунитета;</p>
        				<p>* ожирение;</p>
        				<p>* глаз – кератит, конъюнктивит, атрофия зрительного нерва и глаукома;</p>
        				<p>* носоглотки – отит, ларингит, ринит, гайморит и ангина;</p>
        				<p>* ротовой полости.</p>
        				<p>Нередко подмор рекомендуют принимать после тяжких болезней и операций, при упадке сил, для замедления старения, укрепления волос и улучшения общего состояния.</p>
        				<p>Полезен пчелиный подмор для мужчин – он избавляет от сексуальных нарушений, лечит аденому простаты и даже импотенцию.</p>
        				<p>Способ применение: 1 столовая ложка порошка заливается 500 мл кипятка, прием внутрь по 1 чайной ложке 3 раза в день за 15 минут до еды</p>
        				<p>Состав: 100% натуральный подмор</p>
        				<p>Производство Казахстан</p>
            </div>
        </div>
    </div>
</div>
<div id="product-370" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Крем карандаш- прополисно- дегтярный</h2>
            </div>
            <div class="modal-body text-product">
                <p>Крем карандаш- прополисно- дегтярный</p>
				<p>Объём / вес: 10 шт. по 0,2 г</p>
				<p>Описание товара</p>
				<p>Целебные вещества, обличенные в форму свечи, сразу всасываются в кровь, минуя печень и пищеварительный тракт, попадая таким образом точно в цель - к органам, нуждающимся в помощи. Крем-карандаши используются, в основном, вагинально и/или ректально.</p>
				<p>В состав входят только натуральные экологически безопасные продукты: масло какао, воск пчелиный, прополис очищенный, экстракт шиповника, экстракт облепихи, мумиё, маточное молочко.</p>
				<p><strong>Способы применения:</strong></p>
				<p>вводить по 1 карандашу 1-2 раза в день, курс 10-20 дней, при необходимости курс повторяют 2-3 раза в год;</p>
				<p>нанести небольшое количество на воспаленные участки кожи и равномерно распределить.</p>
				<p></p>
				<p>Применяется как вспомогательное средство:</p>
				<p>- при геморрое</p>
				<p>- при дерматитах, герпесе,</p>
				<p>- при эрозиях шейки матки, простатите,</p>
				<p>- для омоложения кожи лица, рук, шеи.</p>
				<p>Прополис оказывает противоспалительное действие, уменьшает отеки и напряжение пораженных тканей.</p>
				<p><strong>МНЕНИЕ:</strong> для профилактики аденомы простаты или простатита, геморроя либо трещин в прямой кишке полезно 1-2 раза в год использовать ректальные прополисные свечи на масле какао.</p>
				<p>Производство Казахстан по рецепту профессора-академика Башкирии</p>
            </div>
        </div>
    </div>
</div>
<div id="product-371" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Крем-карандаш гигиенический</h2>
            </div>
            <div class="modal-body text-product">
                <p><strong>Крем-карандаш гигиенический</strong></p>
				<p>Объём/вес:	10 шт. по 0,2 г</p>
				<p>Страна происхождения: Казахстан</p>
				<p><strong>Описание товара</strong></p>
				<p>Целебные вещества, обличенные в форму свечи, сразу всасываются в кровь, минуя печень и пищеварительный тракт, попадая таким образом точно в цель - к органам, нуждающимся в помощи. Крем-карандаши используются, в основном, вагинально и/или ректально.</p>
				<p>В состав входят только натуральные экологически безопасные продукты: масло какао, воск пчелиный, прополис очищенный, экстракт шиповника, экстракт облепихи, мумиё, маточное молочко.</p>
				<p>Способы применения: </p>
				<p>вводить по 1 карандашу 1-2 раза в день, курс 10-20 дней, при необходимости курс повторяют 2-3 раза в год;</p>
				<p>нанести небольшое количество на воспаленные участки кожи и равномерно распределить.</p>
				<p>Применяется как вспомогательное средство:</p>
				<ul>
					<li>при воспалении слизистой оболочки матки (эндометрит),</li>
					<li>при заболеваниях шейки матки (эрозии, цервициты),</li>
					<li>при воспалительных процессах во влагалище (кольпиты, вагиниты бактериальной или вирусной природы),</li>
					<li>при травмах и трещинах эпителия влагалища,</li>
					<li>при кандидозе (молочнице).</li>
				</ul>
				<p>Экстракт облепихи увлажняет и смягчает, а также регенирует кожные покровы.</p>
            </div>
        </div>
    </div>
</div>
<div id="product-372" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Будь здоров печеночный сбор</h2>
            </div>
            <div class="modal-body text-product">
                <p>Печень в нашем организме — фильтр. Она чистит кровь, проходящую через неё, освобождает от примесей и токсинов. Очищая организм, сама забивается, подвергается негативному влиянию продуктов очистки, в состав которых входят жиры. <strong>Как любой фильтр, печень нужно регулярно чистить.</strong> Как это сделать, чтобы не нанести вред? Обратиться к натуральным природным продуктам, способным бережно, легко вывести накопившиеся шлаки. Таким продуктом считается травяной сбор для очистки печени. Печень очищается организмом. Эту функцию выполняет желчь, расщепляющая жиры, увеличивающая перистальтику желудка, чем стимулирует вывод шлаков. Делаем вывод, чтобы очистить её, необходимо увеличить выработку желчи.</p>
				<div class="row" style="width: 100%; margin: auto;">
					<div style='height: 20%; width: 20%; object-fit: contain; margin: auto;'>
						<img src="./wp-content/uploads/prods/рис1 в описании будь здоров.jpg" style='height: 100%; width: 100%; object-fit: contain;' alt="pic01" />
					</div>
				</div>
				<p>С древних времен сборы трав для чистки печени называли кровоочистительными, это неспроста. Очищая её, мы помогаем чистить кровь. Существует перечень трав, влияющих положительно на печень. Количество компонентов в различных сборах не всегда совпадает по перечню.</p>
				<p>Печеночный сбор на основе трав «Будь здоров» применяются для профилактики и лечения печеночных заболеваний.</p>
				<p>Страна Казахстан</p>
            </div>
        </div>
    </div>
</div>
<div id="product-373" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Стоп нормализация и лечения гипертонии</h2>
            </div>
            <div class="modal-body text-product">
                <p>Отлично подходит для лечения заболеваний связанных с повышением кровяного давления. Не является лекарством, это абсолютный и экологически чистый продукт, в состав входит 11 натуральных продуктов, благодаря этому, сбор способствует нормализации артериального давления.</p>
				<p>Страна Казахстан</p>
            </div>
        </div>
    </div>
</div>
<div id="product-374" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Уражай витаминно мин комплекс</h2>
            </div>
            <div class="modal-body text-product">
                <p>Уражай -  витаминно-минеральный комплекс, созданный с учетом особенностей национального рациона питания, восполняющий дефицит важнейших витаминов и минералов, не содержит завышенных доз витаминов и минералов, поэтому подходит для длительного профилактического применения.</p>
				<p>В производстве используется технология раздельного гранулирования, позволяющая объединять витамины и минералы в одной таблетке без ущерба для их стабильности.</p>
				<p style="color: blue;">Показания к применению</p>
				<ul>
					<li>профилактика и восполнение дефицита витаминов и минеральных веществ;</li>
					<li>повышенные физические и умственные нагрузки;</li>
					<li>период выздоровления после продолжительных и/или тяжело протекающих заболеваний, в том числе инфекционных;</li>
					<li>в комплексном лечении при назначении антибиотикотерапии.</li>
				</ul>
				<p>Страна Казахстан</p>
            </div>
        </div>
    </div>
</div>
<div id="product-375" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Супер спрей "Хит сезона"</h2>
            </div>
            <div class="modal-body text-product">
                <p>Супер продукт, новинка, впервые на рынке Казахстана:</p>
				<ul>
					<li>Зоб</li>
					<li>Кашель</li>
					<li>Астма</li>
					<li>Коклюшка</li>
					<li>Бронхит</li>
					<li>Ангина</li>
					<li>Насморк</li>
					<li>Простуда</li>
					<li>Грипп</li>
					<li>Туберкулёз</li>
				</ul>
            </div>
        </div>
    </div>
</div>
<div id="product-376" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">"Чудо Шарики" вагинальные</h2>
            </div>
            <div class="modal-body text-product">
                <p>Вагинальные шарики совершенно безвредны, обладают массой достоинств - устраняют патогенную микрофлору, оздоравливают, омолаживают и регенерируют женские половые органы, богаты танинам подтягивающими интимные мышцы, витаминами А и С, кальцием, белком и содержит вяжущим элементом для устранения бактерий, которые вызывают нетипичные выделения, появление уплотнений, эндометриоза, кисты и миом, устраняют грибки и бактерии а так же устраняет избыточные выделения и избыточную сухость.</p>
				<p>Основные свойства травяных  шариков сужающих влагалище:</p>
				<ul>
					<li>Сужение влагалища,</li>
					<li>Восстановление упругости влагалища,</li>
					<li>Повышает  тонус мышц влагалища,</li>
					<li>Повышают чувствительность и чувственность при половом акте,</li>
					<li>Предотвращают возникновение воспалительных процессов,</li>
					<li>Помогают при эрозии шейки матки,</li>
					<li>Устраняет неприятные запахи за счет нормализации микрофлоры, хорошая профилактика молочницы,</li>
					<li>Снижают болезненные ощущения при менструациях,</li>
					<li>Более плотный обхват при половом акте создаёт эффект девственницы,</li>
				</ul>
				<p>Состав: чёрная соль, мумиё, чёрный изюм, имбирь, пуэрария, уголь дикорастущего бамбука</p>
				<p>Кол-во 30 шт ( применение каждые 2-3 дня)</p>
				<p>Противопоказания:</p>
				<ul>
					<li>Менструация</li>
					<li>Беременность</li>
				</ul>
            </div>
        </div>
    </div>
</div>
<div id="product-377" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Iodium life calcium</h2>
            </div>
            <div class="modal-body text-product">
                <p>Предлагаемый «IL and Ca» Iodium life calcium изготовлен из высококачественного сырья с применением специальных технологий и обладает высокой степенью усвояемости.</p>
				<p>Кальций является основным микроэлементом, обеспечивающим прочность костей</p>
				<p>Кальций укрепляет защитные силы организма и повышает его устойчивость к внешним агрессивным факторам и инфекциям</p>
				<p>ЙОД - необходим для синтеза гормона щитовидной железы - тироксина, а также для создания фагоцитов - патрульных клеток в крови, которые должны уничтожать мусор и чужеродные тела, в частности микроорганизмы и даже неполноценные клетки.</p>
				<p>Показания к применению:</p>
				<p>Недостаток микроэлементов кальция, магния и йода;</p>
				<p>Повышенная нервная возбудимость.</p>
				<p>Предменструальный синдром и болезненные месячные у женщин.</p>
				<p>Аллергические реакции.</p>
				<p>Нервным и болезненным. Стресс и инфекционные заболевания; снижают усвоение минерала из пищевых продуктов;</p>
				<p>Йод применяют не только при профилактике щитовидной железы, но и при воспалительных процессах дыхательных путей, хронических отравлениях ртутью и свинцом;</p>
				<p>Йодат калия назначают также при мастопатиях молочной железы и других новообразованиях в железах внутренней секреции;</p>
				<p>Для профилактики атеросклероза;</p>
				<p>При желудочных отравлениях или дизентерии, гепатите.</p>
				<p>Способ применения и дозировка:</p>
				<p>ВНИМАНИЕ! Перед употреблением флакон необходимо тщательно взбалтывать до получения однородной суспензии.</p>
				<p>Внимание! Внутрь, за 20-30 минут до еды.</p>
				<p>Детям 2-8 летнего возраста можно регулярно принимать по одной чайной (5мл) ложке 3 раза в день.</p>
				<p>Детям с 9 лет и старше можно регулярно принимать по одной столовой ложке (10мл) 3 раза в день.</p>
				<p>Взрослым можно регулярно употреблять по одной столовой ложке        3 раза в день.</p>
				<p>В период беременности и кормления грудью можно регулярно принимать по 1 -2 столовые ложки 3 раза в день.</p>
				<p>Младенцам старше 6 месяцев можно регулярно употреблять по             1 чайной ложке 3 раза в день.</p>
				<p>У новорожденных с искусственным кормлением, суточная доза составляет 1-1,5 чайной ложки.</p>
				<ul>Во всех возрастных категориях доза увеличивается в 2 раза, при следующих обстоятельствах (до 1 месяца):
				<li>при острых аллергических состояниях;</li>
				<li>при изжоге и при болях в желудке;</li>
				<li>во время болезни и после реабилитационное (операции, болезни) состояние;</li>
				</ul>
				<p>длительная неподвижность (паралич или др.)</p>
				<p>прием сильнодействующих лекарств (антибиотики, гормональные средства и т. д.);</p>
				<p>людям, чья профессиональная деятельность обусловлена тяжелым (физическим и/или вредным) трудом;</p>
				<p>спортсменам и людям, занимающимся усиленными тренировками.</p>
				<p>Всегда лучше принимать профилактические меры и не доводить себя до состояния, которое потребует вмешательства врача!</p>
            </div>
        </div>
    </div>
</div>


<!--<section class="_marketing">-->
<section class="_reviews">
    <div class="container">
        <div class="row">
			
            <div class="col-xs-12 text-left" id="marketing">
                <h3 class="wow fadeInLeftBig">Маркетинг</h3>
			</div>
			
			
			<div class="wow">
                <div class="_marketing_item">
					<h4>Вход «Старт» 20'000 тг</h4>
					<img src="./wp-content/uploads/marketing/start20000.jpg" alt="start-20000" width="95%" height="95%">
                </div>
            </div>
			
			<div class="wow">
                <div class="_marketing_item">
					<h4>Вход «Сапфир» 50'000 тг</h4>
					<img src="./wp-content/uploads/marketing/sapphire50000_v2.jpg" alt="sapphire-50000" width="95%" height="95%">
                </div>
            </div>
			
			<div class="wow">
                <div class="_marketing_item">
					<h4>Вход «ВИП» 200'000 тг</h4>
					<img src="./wp-content/uploads/marketing/vip200000.jpg" alt="vip-200000" width="95%" height="95%">
                </div>
            </div>

        </div>
    </div>
</section>
<section class="_price">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left" id="price-list">
                <h3 class="wow fadeInLeftBig">Прайс-лист</h3>
            </div>
            <div class="col-md-12">
<!--
                <div class="_price_table">
                    <ul>
                        <li class="wow fadeInRightBig" style="background-color: #2c3293;">
                            <div class="_price_table_left">Название товара</div>
                            <div class="_price_table_right"><span>Цена</span></div>
                        </li>

                        <li class="wow fadeInRightBig">
                            <div class="_price_table_left">
                                <p>Мужская сила из женьшеня и пантов отдельно по 3500 тг (3шт в пачке на 9 раз)</p>
                            </div>
                            <div class="_price_table_right"><span>14000 тг</span></div>
                        </li>
                        <li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Мыло с маслом змеи 3в1 антиморщ.антиакне</p>
                            </div>
                            <div class="_price_table_right"><span>2500 тг</span></div>
                        </li>
                        <li class="wow fadeInRightBig">
                            <div class="_price_table_left">
                                <p>Мыло с женьшень отбеливающий</p>
                            </div>
                            <div class="_price_table_right"><span>3000 тг</span></div>
                        </li>
                        <li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Ежедневки лечебные</p>
                            </div>
                            <div class="_price_table_right"><span>2000 тг</span></div>
                        </li>
                        <li class="wow fadeInRightBig">
                            <div class="_price_table_left">
                                <p>Сердечно-мозговой капсула (БАД)</p>
                            </div>
                            <div class="_price_table_right"><span>8500 тг</span></div>
                        </li>
                        <li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Жевательный кальции (БАД)</p>
                            </div>
                            <div class="_price_table_right"><span>8500 тг</span></div>
                        </li>
                        <li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Подмор (Казахстан)</p>
                            </div>
                            <div class="_price_table_right"><span>12000 тг</span></div>
                        </li>
                        <li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Крем-карандаш гемморой</p>
                            </div>
                            <div class="_price_table_right"><span>16000 тг</span></div>
                        </li>
                        <li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Гель интимный лечебный</p>
                            </div>
                            <div class="_price_table_right"><span>2000 тг</span></div>
                        </li>
                        <li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Настойка для печени и почек (Казахстан)</p>
                            </div>
                            <div class="_price_table_right"><span>7500 тг</span></div>
                        </li>
                        <li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Крем – карандаш гигиенический</p>
                            </div>
                            <div class="_price_table_right"><span>16000 тг</span></div>
                        </li>
						<li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Будь здоров печеночный сбор</p>
                            </div>
                            <div class="_price_table_right"><span>10000 тг</span></div>
                        </li>
						<li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Стоп нормализация и лечения гипертонии</p>
                            </div>
                            <div class="_price_table_right"><span>10000 тг</span></div>
                        </li>
						<li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Уражай витаминно мин комплекс</p>
                            </div>
                            <div class="_price_table_right"><span>10000 тг</span></div>
                        </li>
						<li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Супер спрей "Хит сезона"</p>
                            </div>
                            <div class="_price_table_right"><span>7000 тг</span></div>
                        </li>
						<li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>"Чудо Шарики" вагинальные</p>
                            </div>
                            <div class="_price_table_right"><span>7000 тг</span></div>
                        </li>
                      </ul>
                </div>
-->
				<div class="_price_table" id="ProductPrices">
				
				</div>
            </div>
        </div>
    </div>
</section>
<section class="_reviews">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left wow fadeInLeftBig" id="feeds">
                <h3>Отзывы</h3>
            </div>

			<div class="row">
			<div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
            <div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Рахметова Гаухар:<br>
					Diamond City бізді ұйқыдан айырды :) Бірақ капсула сердечно-мозговаямен достасып, 3 сағат ұйықтап, керемет миым тынығып, таңертеңгілік тұрғанда бір сергектік бойымнан байқаймын. Бұл қалайша деп таң қалып, басымды шайқаймын :) Содан осындай продукцияны елге әкелген Диана Сабитовна ханымға шексіз алғысымды арнаймын! ;)</p>
                </div>
            </div>
			</div>

			<div class="row">
			<div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
            <div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Аноним:<br>
					Күнде таң ертең озім лично қолданамын, женьшень тамырының солiнен алынып, жасалынған бұл сабынды мен бiрден бiрнеше затқа тенегiм келiп тұр: 1. Пена эффектiсi бар, кешкiсiн макияжды кетiру үшiн гель для умывания, пенка керек емес, 100% очистка кожи от макияжа 2. Нежный крем сияқты, таң ертең бетiмдi жуып, кожамның сондай увлажненный и гладкий екенін байқап, кремде жақпаймын, мүлдем 3. Освежает, отбеливает и очищает кожу, соның арқасында аппақ, тап-таза терiңiздi көрiп, тоналка, пудра дегендi ұмытасыз ☝🏻☝🏻☝🏻 бұл менiң, және озiме қарасты адамдардан көрiп жазып отырған опыт және отзыв! Өздерiңiз қолданып көрiңiздер :-) 💎💎💎</p>
                </div>
            </div>
			</div>

			<div class="row">
            <div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
			<div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Аноним:<br>
					Осы 1 апта бұрын болған жағдай, бiр ер адам, аты жұмбак болып қалсын 🚫 өйткени айтпаңызшы деп қатты өтініп сұрады.
Неше жылдан берi цистит қинаған екен, негiзi научно доказано ☝🏻 80% әйел және 20% ер адамда цистит болады, сол 20% iшiнде ағамыз бар екен, сол кiсiнiн аузынан: «не ішпедiм, қатты күлiп, не болмаса түшкiруге қорқатынмын, мен үшiн үлкен проблема, бірақ не болсада осы ежедневкимен от цистита и прокладка қолданып көрейншi деп шештiм, күндiз ежедневка, ал түнде прокладка критические дни қолдандым, 24 сағаттан кейн результат көрдiм, туалетке барғанда рахаттандым, жұмыс iстеп отырып 4-5 сағатка дейн ұмытылып кетіп жүрмин, сенбегеннен қатты күлип те, скакалкамен секіріп те көрдим, 1 прокладка и 2 ежелневка қолдандым, керемет 👏👏👏👏 керемет екен, Рахмет сiзге, бірақ анонимно болсыншы, а айтпақшы ұлтарақтың орнына критические дни прокладка салып жүрмин 2-3 күн болды, жұмысым далада суықта болғандықтан, осы керемет заттың арқасында аяғым да жаурамай жүр 💪🏻💪🏻💪🏻» деп жазыпты ағамыз! Ал сiздердiң қандай қосарларыңыз бар?🙄</p>
                </div>
            </div>
			</div>

			<div class="row">
			<div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
			<div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Ақбергенова Диана:<br>
					Прокладки на критические дни, Diamond City ! Шыны керек, жаңа босанып жатқам, 4-5 күн ғана болды, қолдануға біраз қорқақтап жүрдім, разрыв болып, 4 швы салды! 1 рет салып көрдім, 2-3 сағаттан кейін қатты судорогы болып, температурам көтеріліп, ну нафиг деп алып тастадым, басылды, ертеңiнде қой, өзiм үшiн керек қой деп қайта көрдiм, қыздырғанда сұмдық, одан кейін басылды, 1 ай отыруға болмайды деген, және бәрiмiз білеміз босанғаннан кейін отыру да қиын, бірақ мен 10 күннен кейін отырдым, кожам эластичный екенiн өзiм де сезiндiм, месячный айма-ай келiп тұрды, обычно басқалардікі 1 жылға дейін тоқтап қалушы едi 🤔 бiр жағынан ол да дұрыс шығар, зато организмде застой болмайды деп ойландым, ежедневканы да қолданып, қандай керемет ощущение, особенно қыста, 4 айдан кейін УЗИға бардым, врач даже думала что я не рожавшая, шрам да, травма да жоқ, сокращение 100% болған, ал өзіңді 200% сезінесің, врачтың өзi таң қалып, біздiң потребитель болып отыр 💗</p>
                </div>
            </div>
			</div>

			<div class="row">
			<div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
			<div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Құрамысова Қызғалдақ:<br>
					Менде после рода осы ежедневкиді қолданып енді өзімді жақсы сезініп, жүрмін женский проблеманың барлығын емдейди екен. Жәнеде менде Гемморрой болған босанған кезімде вообще шығып кетіп қатты қанап қиналған болатынмын енді осы Керемет өнімдерден жақсы результаттар алдым. Қазір жоқ болып кетті</p>
                </div>
            </div>
			</div>

			<div class="row">
			<div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
			<div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Жапсарбек Жақсылық:<br>
					Қайырлы кеш ханымдар мен мырзалар, мен озіме осы панто маралды алдым, жалобы почкадан болған дәретханага жиі баратынмын қазір саябырсыды почкада ауырғаны басылды. Рахмет нұсқау бергеніңіз үшін, қазір қасымдағы бірге жұмыс істейтін жігіт те қолданып жүр, рахметін айтып жүр! Спрей полости ртаны да қолданып жүрмін, төрт мың теңгелік мұны сөзбен айтып жеткізу мүмкін емес лучше алып қолданып көріңіздер өкінбейсіздер біз семьямызбен қолданамыз</p>
                </div>
            </div>
			</div>
			
			<div class="row">
			<div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
			<div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Шарбану (г.Тараз):<br>
					Саламатсыздарма құрметті әріптестер! Мен осы компанияның продукциясы "настойка от печени" жайлы көрген результатымды айта кетейін дегенмін. Өзімнің інім жасы 13-те ішкеніне 2 апта болды, ол інім ішінде құрт бар деген, бармаган врачы қалмады, мамасы қандай дәрі ал деп айтады дарігерлер сол дәріні алып беретін тісін қайрайды, тамаққа тоймайды, сонымен мен осы "настойка от печени" өзіміздің Қазакстандық өнім деп айтып ұсындым. Мамасы алып ішкізді, енді қазір рахметін айтып отыр. Аллаға шүкір ең бастысы тісін қайрайтынды қойған. Сенесіздер ма, тамақты уакытымен жейтин болған. Мамасы, әжесі барі қуанып, бүгін төркіндеп барғанмын. "Ойбай, анау дәрің мықты екен!" - деп жағымды жаңалықтарын айтып, мені қуантып, мен де қуанып, қуанышымды сіздермен бөлісейін деп жатырған түрім ғой :-)</p>
                </div>
            </div>
			</div>

			<div class="row">
			<div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
			<div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Нурсауле (г.Актау):<br>
					Прокладка вообще суппер екен :) Сол цистит болып жүргенімде алдым ғой! 2 штугын қолдандым, тек Аллаһтың қалауымен содан сап болды..</p>
                </div>
            </div>
			</div>
			
			<div class="row">
            <div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
			<div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Кызгалдак (г.Алматы):<br>
					Менде 1 ши кызымды босанган кезде Гинекологтар маган эрозия бар после роды сиз миндетти турде емделиниз деген ягни куйдиру керектигин айткан !! Биракта мен осы озимиздин керемет продукцияларын колданып Томпаны, Гель, жанеде прокладкилардан жаксы результат алып, артынша копке узамай 2 ши🐣🐣 дуниеге киналмастан акелдим 👍)</p>
                </div>
            </div>
			</div>
			
			<div class="row">
			<div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
			<div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Баканас (Балхашский район):<br>
					Қвйырлы кеш! Құрметті партнёрлар. Мен керемет результатпен бөлісем. Менің əкпем Сауле 60 жаста маған қонаққа келгенде, мен "3 в одном змеи мыло" бергенмін, ауылда тұрады. Соны күніне екі рет маска жасап журіпті, сүйтсе, бетіндегі, ауыз-тұсындағы əжімдері тартылып, көршілері сұрап - не істедің, бетің керемет болды - деп жатыр екен. Енді мен ауылға жіберетін болдым, бизнесті жургізіңіз дедім :-)</p>
                </div>
            </div>
			</div>
			
			<div class="row">
			<div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
			<div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Шарбану (Тараз):<br>
					Здесь наш партнёр с города Тараз, делится результатом "настойки для печени Тримулан"! Перевод! Ребёнку 13 лет, во сне скрипит зубами, когда обратились к врачу сказали глисты, все время хотел кушать, нет сытости, что только не пили, после предложили Тримулан, пьёт 2 недели, а результат на лицо, слава богу перестал скрипит зубами полностью, и уже начал кушать нормой! Вот такой отзыв, перевод для наших русскоязычных партнеров</p>
                </div>
            </div>
			</div>
			
			<div class="row">
			<div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
			<div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Динара:<br>
					Саламатсыздарма. Қайырлы кеш. Мен айтайын деп отырған отандық өнім. Жевательный кальцийді алып семьямызбен іштік. Балдарымның басы ауырғаны қойды. Басы айналып құсатын, олда басылды. Тарнағы сынатын, ол да басылды. Әлі де жазамын, отандық өнім өте керемет продукта. Ал енді тримуланға келер болсақ... Тамағым ауыратын врач маған острый бронхит деген неше тұрлі дәрілер іштім, содан басылды. Ішек жолдарын реттейді екен. Іш қату. Бауыр бүйректі реттейді. Сабыны алдым. Онымен бетімді жуамын. Бетімдегі мимический морщиналар кетті.</p>
                </div>
            </div>
			</div>

			<div class="row">
				<div class="col-md-2 wow fadeInLeftBig">
					<div class="_reviews_image">
						<img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
					</div>
				</div>
				<div class="col-md-10 wow fadeInRightBig">
					<div class="_reviews_text">
						<p>Рая (Шымкент):<br>
						Менин де сиздермен куанышымды болиским келип тур куйеуиме гипертонический капсуланы ишкиздим бир упаковкасын давлениеси 130да 90га тусти жане исиги кетти 8кг салмагы тусти кунде олшеп отырмын бир калыпты озим 30 жылдык фармацевтпин    мынадай керемет компанияга рахметим шексиз аптеканын дариси уакытша тусирер еди уже 2ай болды.бир калыпты Диана ханым мен Зауре ханымга осындай компанияны алып келип адамдарга ем болып жатканына куанып отырмын рахмеееет сиздерге</p>
					</div>
				</div>
			</div>

		</div>
    </div>
</section>
<section class="_certificates">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-left" id="certificate">
				<h3 class=" wow fadeInLeftBig">Сертификаты</h3>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
				<div class="_production_block wow flipInY">
					<a href="#" data-target="#certif-1" data-toggle="modal">
						<img src="./wp-content/uploads/certif/Крема.jpg" style='height: 80%; width: 80%; object-fit: contain' alt="creams">
                    </a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
				<div class="_production_block wow flipInY">
					<a href="#" data-target="#certif-2" data-toggle="modal">
						<img src="./wp-content/uploads/certif/Крема-карандаши.jpg" style='height: 80%; width: 80%; object-fit: contain' alt="creams, pencils">
                    </a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
				<div class="_production_block wow flipInY">
					<a href="#" data-target="#certif-3" data-toggle="modal">
						<img src="./wp-content/uploads/certif/Настойки, экстракты, forte aero.jpg" style='height: 80%; width: 80%; object-fit: contain' alt="extracts, forte-aero">
                    </a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
				<div class="_production_block wow flipInY">
					<a href="#" data-target="#certif-4" data-toggle="modal">
						<img src="./wp-content/uploads/certif/Таблетки, гранулы.jpg" style='height: 80%; width: 80%; object-fit: contain' alt="tablets, granules">
                    </a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
				<div class="_production_block wow flipInY">
					<a href="#" data-target="#certif-5" data-toggle="modal">
						<img src="./wp-content/uploads/certif/тоники.jpg" style='height: 80%; width: 80%; object-fit: contain' alt="topiks">
                    </a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
				<div class="_production_block wow flipInY">
					<a href="#" data-target="#certif-6" data-toggle="modal">
						<img src="./wp-content/uploads/certif/Экстракт прополиса водорастворимый.jpg" style='height: 80%; width: 80%; object-fit: contain' alt="extract propolise water">
                    </a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
				<div class="_production_block wow flipInY">
					<a href="#" data-target="#certif-7" data-toggle="modal">
						<img src="./wp-content/uploads/certif/Экстракт прополиса.jpg" style='height: 80%; width: 80%; object-fit: contain' alt="extract propolise">
                    </a>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="certif-1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body text-product">
                <img src="./wp-content/uploads/certif/Крема.jpg" style='height: 100%; width: 100%; object-fit: contain' alt="creams">
            </div>
        </div>
    </div>
</div>
<div id="certif-2" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body text-product">
                <img src="./wp-content/uploads/certif/Крема-карандаши.jpg" style='height: 100%; width: 100%; object-fit: contain' alt="creams, pencils">
            </div>
        </div>
    </div>
</div>
<div id="certif-3" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body text-product">
                <img src="./wp-content/uploads/certif/Настойки, экстракты, forte aero.jpg" style='height: 100%; width: 100%; object-fit: contain' alt="extracts, forte-aero">
            </div>
        </div>
    </div>
</div>
<div id="certif-4" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body text-product">
                <img src="./wp-content/uploads/certif/Таблетки, гранулы.jpg" style='height: 100%; width: 100%; object-fit: contain' alt="tablets, granules">
            </div>
        </div>
    </div>
</div>
<div id="certif-5" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body text-product">
                <img src="./wp-content/uploads/certif/тоники.jpg" style='height: 100%; width: 100%; object-fit: contain' alt="topiks">
            </div>
        </div>
    </div>
</div>
<div id="certif-6" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body text-product">
                <img src="./wp-content/uploads/certif/Экстракт прополиса водорастворимый.jpg" style='height: 100%; width: 100%; object-fit: contain' alt="extract propolise water">
            </div>
        </div>
    </div>
</div>
<div id="certif-7" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body text-product">
                <img src="./wp-content/uploads/certif/Экстракт прополиса.jpg" style='height: 100%; width: 100%; object-fit: contain' alt="extract propolise">
            </div>
        </div>
    </div>
</div>

<section class="_contacts">
    <div class="container" id="contact">
        <div class="row wow fadeInLeftBig">
            <div class="col-xs-12 text-left wow fadeInLeftBig">
                <h3>Контакты</h3>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12  _contacts_left text-left">
                <div class="_contacts_info">
                    <span>Акбергенова Диана Сабитовна
<br>Президент</span>
                    <span><a href="tel:+7 707 21 77 466" style="position: relative;">+7 707 21 77 466</a></span>
					<span><a href="mailro:diamond8city@gmail.com" style="position: relative;">diamond8city@gmail.com</a></span>
                    <span><a href="https://yandex.ua/maps/?z=14&ll=76.9047921903606%2C43.23563335842474&l=map&origin=jsapi_2_1_56&from=api-maps&um=constructor%3Abae47bfc427b031197cbf8b206ad8d6292917e071437a15b73b6596508280d56&mode=usermaps" target="_blank" style="position: relative;">г. Алматы, ул. Мынбаева, 46 офис 211</a></span>
					<span>Директор по работе с регионами Молдашева Зауре: <a href="tel:+7 747 6258907" style="position: relative;">+7 747 6258907</a></span>
					<span>Директор склада Сабит Дамир: <a href="tel:+7 747 7870196" style="position: relative;">+7 747 7870196</a></span>
					<span style="background-color: #A6A125; color: white;">Офис г.Шымкент: Проспект Республики, 25, офис 23. Руководитель: Турсынбаева Бибигуль, <a href="tel:+7 707 210 0301" style="position: relative;">+7 707 210 0301</a></span>
					<span style="background-color: #A6A125; color: white;">Офис г.Астана: ул.Кенесары, 40 БЦ "7Континент", 1010А каб.</span>
					<span style="background-color: #A6A125; color: white;">Офис г.Кызылорда: Бокейхан 85, офис N2. Руководитель: Рахметова Гаухар, <a href="tel:+7 708 701 7101" style="position: relative;">+7 708 701 7101</a></span>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12 col-md-offset-2 text-left _contacts_right">
                <div class="_contacts_form">
                    <h4>Напишите нам</h4>
                    <div role="form" class="wpcf7" id="wpcf7-f86-o1" lang="ru-RU" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form action="/#wpcf7-f86-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="86" />
                                <input type="hidden" name="_wpcf7_version" value="5.0" />
                                <input type="hidden" name="_wpcf7_locale" value="ru_RU" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f86-o1" />
                                <input type="hidden" name="_wpcf7_container_post" value="0" />
                            </div>
                            <p><span class="wpcf7-form-control-wrap text-218"><input type="text" name="text-218" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required diamant-name" aria-required="true" aria-invalid="false" placeholder="Имя" /></span>
                                <br />
                                <span class="wpcf7-form-control-wrap tel-565"><input type="tel" name="tel-565" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel diamant-tel" aria-required="true" aria-invalid="false" placeholder="Телефон" /></span>
                                <br />
                                <span class="wpcf7-form-control-wrap email-714"><input type="email" name="email-714" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email diamant-email" aria-invalid="false" placeholder="Электронная почта" /></span></p>
                            <p>
                                <input type="submit" value="ОТПРАВИТЬ" class="wpcf7-form-control wpcf7-submit diamant-send" />
                            </p>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6  wow fadeInLeftBig">
                <div class="_footer_info">
                    <h4><a href="/">Diamond City</a></h4>
                    <span><a href="tel:+ 7 707 21 77 466">+ 7 707 21 77 466</a></span>
                    <span><a href="mailto:diamond8city@gmail.com  ">diamond8city@gmail.com  </a></span>
                    <span><a href="https://yandex.ua/maps/?z=14&ll=76.9047921903606%2C43.23563335842474&l=map&origin=jsapi_2_1_56&from=api-maps&um=constructor%3Abae47bfc427b031197cbf8b206ad8d6292917e071437a15b73b6596508280d56&mode=usermaps" target="_blank">г. Алматы, ул. Мынбаева, 46 офис 211</a></span>
                    <div class="_footer_info_social">
                        <a href=""><img src="./wp-content/themes/mytheme/img/icon/vk.png" target="_blank" alt=""></a>
                        <a href=""><img src="./wp-content/themes/mytheme/img/icon/fb.png" target="_blank" alt=""></a>
                        <a href=""><img src="./wp-content/themes/mytheme/img/icon/telegram.png" target="_blank" alt=""></a>
                        <a href=""><img src="./wp-content/themes/mytheme/img/icon/twitter.png" target="_blank" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 _footer_map wow fadeInRightBig">
                <div class="_footer_map_item">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abae47bfc427b031197cbf8b206ad8d6292917e071437a15b73b6596508280d56&amp;width=100%25&amp;height=375&amp;lang=ru_UA&amp;scroll=true"></script>
                </div>
            </div>
        </div>
    </div>
    <a id="back-to-top" href="" class="btn btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="right"><img src="./wp-content/themes/mytheme/img/up.png" alt=""></a>
</footer>
<div class="col-xs-12 tel-what">
    <div class="col-xs-6 desk2">
        <i class="fa fa-phone" aria-hidden="true" style="padding:5px;"></i>
        <a href="tel:+ 7 707 21 77 466">ПОЗВОНИТЬ</a>
    </div>
    <div class="col-xs-6 desk1">
        <i class="fa fa-whatsapp" aria-hidden="true" style="padding:5px;"></i><a href="https://api.whatsapp.com/send?phone=77072177466" target="_blank"> WHATSAPP</a>
        <br>
    </div>
</div>





<script>
	$(document).ready(function(){
		$.ajax({
			url: '/productprices',
			method: "GET",
			data: {},
			dataType: "json",
			cache: false,
			success: function (data) {
				var tbl = '<ul>'+
						'<li class="wow fadeInRightBig" style="background-color: #2c3293;">'+
                            '<div class="_price_table_left"><strong>Название товара</strong></div>'+
                            '<div class="_price_table_right"><strong><span>Цена</span></strong></div>'+
                        '</li>';
				var tr = '';
				
				var divPrList = '';
				var divPrDescr = '';
				
				$.each(data, function (i, attr) {
					$.each(attr, function (j, val) {
						if ((val.isShowPrice == 1) && (val.price > 0)) {
							tr = '<li class="wow fadeInRightBig">' +
									'<div class="_price_table_left"><p>' +
									'<a href="#" data-target="#product-'+val.ID+'" data-toggle="modal" style="color: white;">'+
									val.namePrice +
									'</a></p></div>' +
									'<div class="_price_table_right"><span>' + val.price + ' тг</span></div>' +
								'</li>';
							tbl = tbl + tr;
						}
						
						if (val.isShowProd == 1) {
							divPrList = divPrList + '<div class="col-md-4 col-sm-6 col-xs-12 text-center">'+
								'<div class="_production_block wow flipInY" style="width: 345px; height: 408px">'+
								'<h4>'+val.name+'</h4>'+
								'<div style="width: 172px; height: 306px">'+
								'<img src="'+val.imgPath+'" style="height: 100%; width: 100%; object-fit: contain" alt="'+val.imgAlt+'">'+
								'</div>'+
								'<a href="#" data-target="#product-'+val.ID+'" data-toggle="modal">'+
								'<button>Подробное описание</button>'+
								'</a>'+
								'</div>'+
								'</div>';
						}
						divPrDescr = divPrDescr + '<div id="product-'+val.ID+'" class="modal fade">'+
							'<div class="modal-dialog">'+
							'<div class="modal-content text-center">'+
							'<div class="modal-header">'+
							'<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>'+
							'<h2 class="modal-title">'+val.name+'</h2>'+
							'</div>'+
							'<img src="'+val.imgPath+'" style="width: 172px; height: 306px; object-fit: contain; float: left;" alt="'+val.imgAlt+'">'+
							'<div class="modal-body text-product">'+
							''+val.descr+''+
							'</div>'+
							'</div>'+
							'</div>'+
							'</div>';
					});
				});
				$(tbl).appendTo("#ProductPrices");
				$(divPrList).appendTo("#productList");
				$(divPrDescr).appendTo("#productdescr");
			}
		});
	});
	
</script>
