{{#if clientID}}

{{else}}
<div id="loginblock" style="display: none;">
    <div class="container" id="cab">
        <p>Вход в личный кабинет клиента</p>
        <form action="/cab" method="post" name="CabLoginForm">
            <input type="text" name="login" id="login" placeholder="ID" />
            <input type="password" name="pwd" id="pwd" placeholder="пароль" />
            <br />
            <input type="text" name="Lastname" id="Lastname" placeholder="Фамилия" hidden />
			<input type="text" name="Firstname" id="Firstname" placeholder="Имя" hidden />
			<input type="text" name="Middlename" id="Middlename" placeholder="Отчество" hidden />
			<br />
			<input type="email" name="email" id="email" placeholder="email" hidden />
			<br />
			<label for="Mobilephone"id="lbMobphone" hidden>Моб. тел. (7-7ХХ-ХХ-ХХ)</label>
			<input type="tel" name="Mobilephone" id="Mobilephone" pattern="7-7[0-9]{2}-[0-9]{2}-[0-9]{2}" value="7-700-00-00" hidden />
			<br />
            <input type="text" name="IDParent" id="IDParent" placeholder="ID пригласившего" hidden />
            <br />
            <input type="submit" class="btn btn-primary" name="btnLogin" name="btnLogin" value="Войти" />
            <br />
            <input type="checkbox" name="registration" id="registration" /> Регистрация
        </form>
        <script>
            $('#registration').click(function() {
                if ($("#registration").is(":checked")) {
                    $('#login').hide(1000);
					$('#Lastname').show(1000);
                    $('#Firstname').show(1000);
					$('#Middlename').show(1000);
                    $('#IDParent').show(1000);
					$('#email').show(1000);
					$('#lbMobphone').show(1000);
					$('#Mobilephone').show(1000);
                } else {
					$('#login').show(1000);
                    $('#Lastname').hide(1000);
                    $('#Firstname').hide(1000);
					$('#Middlename').hide(1000);
                    $('#IDParent').hide(1000);
					$('#email').hide(1000);
					$('#lbMobphone').hide(1000);
					$('#Mobilephone').hide(1000);
                }
            });
            /*$("#btnLogin").click(function(){

            });*/
        </script>
    </div>
</div>
{{/if}}
<script>
	$('#logindivlink2').click(function() {
		$('#logindivlink').click();
	});
	$('#logindivlink').click(function() {
		if ( $("#loginblock").css('display') == 'none' || $("#loginblock").css("visibility") == "hidden"){
			$("#loginblock").show();
		}
		else {
			$("#loginblock").hide();
		}
	});
</script>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">

            <section class="_main">
                <img class="_main_fon" width="100%" src="./wp-content/uploads/2018/02/Baiterek.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <div class="_main_block">
                                <h1>Diamond City</h1>
                                <p>
                                    <p>Казахстанская компания</p>
                                    <p><img class="alignnone size-full wp-image-143" src="./wp-content/uploads/2018/02/kazakhstan.png" alt="" width="64" height="64" /> </p>
                                    <p>&nbsp;</p>
                                </p>
                                <a href="#" data-target="#slide-4" data-toggle="modal">
                                    <button>Подробнее >></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="item">

            <section class="_main">
                <img class="_main_fon" width="100%" src="./wp-content/uploads/2018/02/AltynAdam.jpeg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <div class="_main_block">
                                <h1>Diamond City</h1>
                                <p>
                                    <p>Казахстанская компания</p>
                                    <p><img class="alignnone size-full wp-image-143" src="./wp-content/uploads/2018/02/kazakhstan.png" alt="" width="64" height="64" /> </p>
                                </p>
                                <a href="#" data-target="#slide-7" data-toggle="modal">
                                    <button>Подробнее >></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div id="slide-4" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Diamond City</h2>
            </div>
            <div class="modal-body">
                <strong>Дорогие будущие Миллионеры!</strong>
                <p>Мы рады представить вам компанию Diamond city. Наша продукция понравится и принесет Вам и Вашим близким много пользы, а компания финансовую независимость.</p>
                <p>Главная задача компании
                    <br> Обеспечить партнеров высококачественной продукцией и создать условия для успешного развития бизнеса.</p>

                <p>Преимущества сотрудничества с <span>Diamond city:</span></p>
                <ul>
                    <li>Вы можете быстро увеличить свой доход;</li>
                    <li>Мы продвигаем продукцию высочайшего качества на рынок через взаимовыгодное партнерство с независимыми дистрибьюторами;</li>
                    <li>Карьерный рост;</li>
                    <li>Вы можете построить бизнес не только в Казахстане, но и за ее пределами;</li>
                    <li>Мы заинтересованы в Вашем успехе и готовы создать условия для плодотворного развития вашего бизнеса;</li>
                </ul>
                <p>Желаем Вам больших финансовых успехов и крепкого здоровья!</p>
            </div>
        </div>
    </div>
</div>
<div id="slide-7" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Diamond City</h2>
            </div>
            <div class="modal-body">
                <strong>Дорогие будущие Миллионеры!</strong>
                <p>Мы рады представить вам компанию Diamond city. Наша продукция понравится и принесет Вам и Вашим близким много пользы, а компания финансовую независимость.</p>
                <p>Главная задача компании
                    <br> Обеспечить партнеров высококачественной продукцией и создать условия для успешного развития бизнеса.</p>

                <p>Преимущества сотрудничества с <span>Diamond city:</span></p>
                <ul>
                    <li>Вы можете быстро увеличить свой доход;</li>
                    <li>Мы продвигаем продукцию высочайшего качества на рынок через взаимовыгодное партнерство с независимыми дистрибьюторами;</li>
                    <li>Карьерный рост;</li>
                    <li>Вы можете построить бизнес не только в Казахстане, но и за ее пределами;</li>
                    <li>Мы заинтересованы в Вашем успехе и готовы создать условия для плодотворного развития вашего бизнеса;</li>
                </ul>
                <p>Желаем Вам больших финансовых успехов и крепкого здоровья!</p>
            </div>
        </div>
    </div>
</div>

<!--
<section class="_loginblock">

</section>
-->

<section class="_about">
    <div class="container" id="about_company">
        <div class="row">
            <div class="col-md-9 col-xs-12 text-left _about_block wow fadeInLeftBig">
                <h3>О компании</h3>
                <p><strong>Дорогие будущие Миллионеры!</strong></p>
                <p>Мы рады представить вам компанию Diamond city. Наша продукция понравится и принесет Вам и Вашим близким много пользы, а компания финансовую независимость, а так же: денежные бонусы, электроника, золото, путевки и Автомобиль (всего лишь имея в команде 128 человек)! Все легко и просто!</p>
                <p>Преимущества сотрудничества с Diamond city:</p>
                <ul>
                    <li>Вы можете быстро увеличить свой доход;</li>
                    <li>Мы продвигаем продукцию высочайшего качества на рынок через взаимовыгодное партнерство с независимыми дистрибьюторами;</li>
                    <li>Карьерный рост;</li>
                    <li>Вы можете построить бизнес не только в Казахстане, но и за ее пределами;</li>
                    <li>Мы заинтересованы в Вашем успехе и готовы создать условия для плодотворного развития вашего бизнеса;</li>
                </ul>
                <p>Желаем Вам больших финансовых успехов и крепкого здоровья!</p>
            </div>
            <div class="_about_image wow fadeInRightBig"><img src="./wp-content/uploads/2018/02/countryKZ.png" alt=""></div>
        </div>
    </div>
</section>


<section class="_production">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left" id="product">
                <h3 class=" wow fadeInLeftBig">Продукция</h3>
			</div>
            
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Ежедневки от цистита (20 шт в упаковке)</h4>
                    <img src="./wp-content/uploads/2018/02/-от-цистита-e1525591405327.jpg" style='height: 50%; width: 50%; object-fit: contain' alt="Everyday from cystitis">
                    <a href="#" data-target="#product-65" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Мыло с маслом змеи</h4>
                    <img src="./wp-content/uploads/2018/05/-змея-e1525591274909.jpg" style='height: 50%; width: 50%; object-fit: contain' alt="Soap with snake oil">
                    <a href="#" data-target="#product-321" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Мужская сила из пантов Марала и женьшеня</h4>
                    <img src="./wp-content/uploads/2018/05/IMG_3381-05-05-18-07-20-e1525556265654.jpg" style='height: 50%; width: 50%; object-fit: contain' alt="Male power from the antlers of Maral and ginseng">
                    <a href="#" data-target="#product-342" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Сердечно-мозговой капсула</h4>
                    <img src="./wp-content/uploads/prods/No_pic.jpg" style='height: 50%; width: 50%; object-fit: contain' alt="Cardiac Capsule">
                    <a href="#" data-target="#product-345" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Женьшеневое мыло с экстрактами трав</h4>
                    <img src="./wp-content/uploads/2018/05/-с-женьшень-e1525592600934.jpg" style='height: 50%; width: 50%; object-fit: contain' alt="Ginseng soap with extracts of herbs">
                    <a href="#" data-target="#product-356" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Жевательный кальций</h4>
                    <img src="./wp-content/uploads/2018/09/chewing_calcium.jpg" style='height: 50%; width: 50%; object-fit: contain' alt="chewing calcium">
                    <a href="#" data-target="#product-357" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>
<!--			
            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Ежедневки с алое лечебные</h4>
                    <img src="./wp-content/uploads/2018/05/-с-алое-e1525591962410.jpg" style='height: 50%; width: 50%; object-fit: contain' alt="Everyday with scarlet medicinal">
                    <a href="#" data-target="#product-352" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>
-->
<!--
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Водонагреватель для кухни</h4>
                    <img src="./wp-content/uploads/2018/09/водонагреватель.jpg" style='height: 50%; width: 50%; object-fit: contain' alt="Water heater for kitchen">
                    <a href="#" data-target="#product-358" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>
			
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Водонагреватель для душа</h4>
                    <img src="./wp-content/uploads/2018/09/водонагреватель_для_душа.jpg" style='height: 50%; width: 50%; object-fit: contain' alt="Shower water heater">
                    <a href="#" data-target="#product-361" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>
-->
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Фильтр настольный (Польша)</h4>
                    <img src="./wp-content/uploads/2018/09/настольный фильтр.jpg" style='height: 50%; width: 50%; object-fit: contain' alt="desktop filter">
                    <a href="#" data-target="#product-362" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>
			
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Настойка от печени, почек</h4>
                    <img src="./wp-content/uploads/2018/11/настойка_от_печени_почек.jpg" style='height: 50%; width: 50%; object-fit: contain' alt="tincture of the liver and kidneys">
                    <a href="#" data-target="#product-364" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>

			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>средство от ревматизма</h4>
                    <img src="./wp-content/uploads/2018/09/от ревматизма.jpg" style='height: 50%; width: 50%; object-fit: contain' alt="The filter for the crane">
                    <a href="#" data-target="#product-366" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>
			
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Интимный гель</h4>
                    <img src="./wp-content/uploads/2018/10/интим_гель.jpg" style='height: 50%; width: 50%; object-fit: contain' alt="Intim gell">
                    <a href="#" data-target="#product-367" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>

			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Пчелиный подмор</h4>
                    <img src="./wp-content/uploads/prods/подмор.JPG" style='height: 50%; width: 50%; object-fit: contain' alt="Intim gell">
                    <a href="#" data-target="#product-368" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>
			
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>крем-мед с пыльцой</h4>
                    <img src="./wp-content/uploads/prods/крем с пыльцой.JPG" style='height: 50%; width: 50%; object-fit: contain' alt="Intim gell">
                    <a href="#" data-target="#product-369" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>
			
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>крем карандаш гемморой</h4>
                    <img src="./wp-content/uploads/prods/крем карандаш гемморой.JPG" style='height: 50%; width: 50%; object-fit: contain' alt="Intim gell">
                    <a href="#" data-target="#product-370" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>
			
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>карандаш гигиенический</h4>
                    <img src="./wp-content/uploads/prods/крем карандаш гиг.JPG" style='height: 50%; width: 50%; object-fit: contain' alt="Intim gell">
                    <a href="#" data-target="#product-371" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>

			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="_production_block wow flipInY">
                    <h4>Спрей</h4>
                    <img src="./wp-content/uploads/prods/спрей.JPG" style='height: 50%; width: 50%; object-fit: contain' alt="Intim gell">
                    <a href="#" data-target="#product-372" data-toggle="modal">
                        <button>Подробное описание</button>
                    </a>
                </div>
            </div>

		</div>
    </div>
</section>

<!--
<div id="product-12" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Фитотампон</h2>
            </div>
            <div class="modal-body text-product">
                <p>Фитотампон – тампоны вагинальные являются продуктом современных биотехнологий и древних рецептов китайской медицины. Имеют 100% натуральный состав, без консервантов и гормонов. Обладает противовоспалительным бактерицидным действием, оздоравливает микрофлору влагалища, восстанавливает и питает ци и кровь, стабилизирует менструальный цикл.
                    <br /> Основные свойства:
                    <br /> &#8212; Обладают противовоспалительным бактерицидным действием
                    <br /> &#8212; Оздоравливает микрофлору влагалища
                    <br /> &#8212; Устраняют и прекращают выделение белей
                    <br /> &#8212; Снимают зуд
                    <br /> &#8212; Восстанавливают и питают энергию Ци и кровь
                    <br /> &#8212; Стабилизируют менструальный цикл
                    <br /> &#8212; Снижают предменструальный болевой синдром
                    <br /> Показания к применению :
                    <br /> &#8212; Воспаления матки
                    <br /> &#8212; Воспаления придатков
                    <br /> &#8212; Воспаления в области малого таза
                    <br /> &#8212; Эрозия шейки матки
                    <br /> Противопоказания:
                    <br /> &#8212; Девственность
                    <br /> &#8212; Беременность
                    <br /> &#8212; Не использовать во время менструации
                    <br /> &#8212; После любых операционных вмешательств : через 3-6 месяцев
                    <br /> Курс:
                    <br /> Профилактический курс 6 шт
                    <br /> Лечебный курс 12-24 шт
                    <br /> Состав: жгун-корень плоды, дудник китайский корень, пустырник, корневища смилакса, борнеол, корневище лигустимука и т.д., 13 наименований целебных растений
                    <br /> Код ТН ВЭД &#8212; 3005905000</p>
            </div>
        </div>
    </div>
</div>
-->
<div id="product-15" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Гигиенические прокладки с крылышками в индивидуальной упаковке, размер 25 см.</h2>
            </div>
            <div class="modal-body text-product">
                <p>Размер и форма прокладки обеспечивают надежную защиту от протекания в дневное и ночное время. Препятствуют развитию патогенной микрофлоры, предупреждают возникновение воспалительных процессов, оказывают бактерицидное действие. Нормализуют состояние микрофлоры, устраняют зуд и прекрасно освежают, сокращает матку после родов.</p>
				<p>Состав: хлопок, экстракты китайских растений (ромашкии, пиона, гирчовника, софоры, мяты, зеленого чая.)</p>
                <p>Производство: Китай</p>
            </div>
        </div>
    </div>
</div>
<div id="product-65" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Ежедневки от цистита (20 шт в упаковке)</h2>
            </div>
            <div class="modal-body text-product">
                <p>Ежедневки от цистита (20 шт в упаковке)</p>
                <ul>
                    <li>Устраняется зуд и воспаление</li>
                    <li>Снимаются болезненность и нерегулярность менструального цикла</li>
                    <li>Восстанавливается микрофлора влагалища,  припятствуя распространению патогенной флоры</li>
                    <li>Обеспечивается профилактика и лечение воспалительных процессов разного генеза</li>
                    <li>Устраняется дисгармональные нарушения.</li>
                </ul>
                <p>С ежедневными прокладками Fukang вы будете себя чувствовать комфортно весь день. К тому же, они позволяют коже дышать и идет нейтрализация неприятных запахов. Благодаря прочной клейкой основе, прокладка держится прочно на все время ее использования.</p>
                <p><strong><em>Показания к применению:</em></strong></p>
                <ul>
                    <li><em>Эрозия шейки матки</em></li>
                    <li><em>Воспаление слизистой оболочки матки, брюшного покрова матки, придатков</em></li>
                    <li><em>Воспалительные процессы органов малого таза, в том числе инфекционные венерические заболевания</em></li>
                    <li><em>Нарушение менструального цикла</em></li>
                    <li><em>Адаптация климактерического периода</em></li>
                    <li><em>Маточные кровотечения</em></li>
                    <li><em>Послеродовый период</em></li>
                    <li><em>Кольпит (в том числе старческий)</em></li>
                    <li><em>Геморрой</em></li>
                    <li><em>Воспаление мочевого пузыря</em></li>
                    <li><em>Цистит</em></li>
                    <li><em>Кандидоз</em></li>
                    <li><em>Радикулит поясничного отдела</em></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--deleted 2018-07-19 by asking Client, will not sale this product
<div id="product-180" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Кордицепс для мужчин</h2>
            </div>
            <div class="modal-body text-product">
                <p>После долгих лет сбора медицинских данных, состав ученых медиков из научно-исследовательской группы успешно разработал наиболее эффективный и безопасный растительный продукт для мужчин. В течение нескольких недель можно добиться результатов по увеличению и укреплению полового члена. Согласно уникальной формуле, созданной на основе научных данных, каждая гранула является хорошим профилактическим средством от импотенции и преждевременной эякуляции.
                    <br /> Главные ингредиенты: Китайский кордицепс, мак , муравьи, олень, акулий экстракт, яички тибетского яка, женьшень, кнут, подснежник, родиола розовая, шафран, гиппокамп.
                    <br /> Показания: импотенция, проспермия, поллюция, нарушение половых функций, снижение страсти, короткий и маленький мужской член, пояснично-коленная ломота, бессилие конечностей, головокружение и звон в ушах, учащенное мочеиспускание по ночам, своя слабость и ночной пот, простатит и другие симптомы, вызванные почечной недостаточностью
                    <br /> Способ употребления и дозировка: принимать внутрь, принимать только 1/2 капсулу перед сном с теплой водой.</p>
            </div>
        </div>
    </div>
</div>
-->
<!--
<div id="product-315" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Интимный гинекологический гель</h2>
            </div>
            <div class="modal-body text-product">
                <p><strong>Данный препарат лечит эрозию шейки матки, сокращает влагалище и регулирует вагинальный кислотно-щелочной баланс, улучшит функцию иммунный системы, имеет хороший эффект при генитальном зуде, постороннем неприятном запахе, увеличении количества бели, вагините бактериальном, вагините трихомонадном, вагините грибковым.</strong></p>
                <p><strong>Состав: экстракты из кордицепса, софоры, стемоны, жгун-корня Моннье, гриба пория, сафлора красильного, алоэ и борнеола</strong></p>
                <p><strong>Номер санитарного надзора: ШЭЙ0165-2013г.</strong></p>
                <p><strong>Форма: 5г</strong></p>
                <p><strong>Срок хранения: на упаковке</strong></p>
            </div>
        </div>
    </div>
</div>
-->
<div id="product-321" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Мыло с маслом змеи 3 в 1 от морщин + от прыщей + отбеливание с коллагеном и витамином Е</h2>
            </div>
            <div class="modal-body text-product">
                <p>Мыло с эффектом "черной маски" с маслом змеи (жиром змеи) 3 в 1 используется для омоложения кожи и разглаживания морщин; для лечения проблемной и жирной кожи, склонной к образованию прыщей, угревой сыпи акне, черных точек, дерматоза, идеально выравнивает цвет кожи, осветляет пигментные пятна веснушки, разглаживает шрамы, морщины и пост акне.</p>
				<p>Уникальные косметические свойства масла змеи (жира змеи) были открыты тысячелетия назад. Жир змей делает кожу упругой и гладкой. Защищает кожу от сухости, вялости и раздражения - делает кожу нежной и упругой. Отшелушивает верхние омертвевшие клетки, мгновенно обновляет кожу и эффективно улучшает состояние. Значительно уменьшается выработка секрета сальных желез, лицо выглядит здоровым и свежим. Благодаря современным технологиям, состоит из натуральных компонентов: жир змей, богатый витаминами и аминокислотами, экстракты лекарственных растений, белок, коллаген, витамин Е , арома добавки.</p>
				<p>Способ применения: намылить лицо, избегая области вокруг глаз. Легкими движениями кончиков пальцев массировать кожу лица 1-2 минуты. Смыть пену теплой водой. использовать регулярно утром и вечером.</p>
				<p>Состав:</p>
				<ul>
					<li>Экстракт масла змеи</li>
					<li>Экстракт томата</li>
					<li>Стеариновая кислота</li>
					<li>Мятное масло</li>
					<li>Глицерин</li>
					<li>Экстракт гамамелиса</li>
					<li>Кокосовое масло</li>
					<li>Прополис</li>
					<li>Витамин Е</li>
				</ul>
            </div>
        </div>
    </div>
</div>
<div id="product-342" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Мужская сила из пантов Марала и женьшеня</h2>
            </div>
            <div class="modal-body text-product">
                <ol>
                    <li>Повышение потенции: быстро и мягко (безопасно) для организма обеспечивает устойчивую эрекцию уже через 15-25 минут после приёма. После оргазма происходит быстрое восстановление и мужчина может заниматься сексом не один раз за ночь. Увеличивается продолжительность полового акта, а время эрекции у мужчины может очень продолжительным (до 50 минут);</li>
                    <li>Лечебный эффект при наличии мужских заболеваний, а также отличная профилактика мужского здоровья.</li>
                </ol>
                <p><strong>Совместим с алкоголем, не краснеет лицо, не болит голова, не болит желудок. Можно применять мужчинам с гипертонией, кардиопатией и диабетом. </strong></p>
                <p>Пилюли  для почки рекомендуется применять при:</p>
                <ul>
                    <li>эректильной дисфункции;</li>
                    <li>импотенции;</li>
                    <li>преждевременной эякуляции;</li>
                    <li>атрофии пениса (для мужчин средних и преклонных лет);</li>
                    <li>воспалении простаты, частом и неполном мочеиспускании;</li>
                    <li>слабости функции почек, шум (звон) в ушах, болях в коленях и спине, бессоннице;</li>
                    <li>вялости, потере волос, слабой памяти;</li>
                    <li>бесплодии мужчины</li>
                    <li>отсутствии или пониженном сексуальном влечении.</li>
                </ul>
                <p><strong>Состав:</strong> женьшень из северо-восточного Китая, панты оленя из провинции Цзинхай, кордицепс китайский, снежный лотос.</p>
                <p><strong>Инструкция по применению:</strong> за 15-30 минут до постельного дела примите, запивая солоноватой водой, 1/2 ― 1 пилюлю (первый раз рекомендуется принимать 1/2 пилюли, чтобы определить подходящую Вам дозировку). Не принимайте более 1-ой пилюли в 24 часа. В случае передозировки (эрекция не проходит), пейте холодную воду, чай.</p>
                <p><strong>Противопоказания:</strong></p>
                <ul>
                    <li>не применять женщинам и несовершеннолетним мужчинам;</li>
                    <li>при индивидуальной непереносимости.</li>
                </ul>
                <p>БАД, не является лекарством.</p>
            </div>
        </div>
    </div>
</div>
<div id="product-345" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Сердечно-мозговые капсулы созданы по исключительно растительной рецептуре.</h2>
            </div>
            <div class="modal-body text-product">
                <p>Универсально защищают сердце и мозг, комплексно решают проблемы трех основных каналов жизни: кровь, желудочно-кишечный тракт и коллатерали.</p>
                <ol type="1">
					<li>Исключают внутренний яд для предотвращения изменения и затвердения жира в крови.</li>
					<li>Активизируют клеточные ферменты для улучшения качества крови.</li>
					<li>Растворяют тромбы и быстро выводят их из организма с помощью метаболизма.</li>
					<li>Помогают избежать вторичного загрязнения крови.</li>
				</ol>
				<p>Главные особенности продукта: останавливают конденсацию, изменение и загрязнение крови, сжигают жиры, выводят токсины, останавливают образование тромбоза, полностью улучшают три основные канала жизни: кровь, желудок и кишки, каналы и коллатерали.</p>
				<p>Основные компоненты:</p>
				<ul>
					<li>флис-цветок корень,</li>
					<li>корень пуерарии,</li>
					<li>листья лотоса,</li>
					<li>цветы хризантемы,</li>
					<li>мушмула германская,</li>
					<li>экстракт боярышника,</li>
					<li>бигарадия,</li>
					<li>гинкго, жемчуг,</li>
					<li>экстракт косточек винограда,</li>
					<li>природный прополис,</li>
					<li>шалфей многокорневищный.</li>
				</ul>
				<p>Способ применения: 1 раз в день по 2 капсулы, запить стаканом теплой воды.</p>
				<p>Упаковка: 0,4 граммах 60 капсул в бутылке.</p>
				<p>Срок хранения: 24 мес.</p>
            </div>
        </div>
    </div>
</div>
<div id="product-352" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Ежедневки с алое лечебные</h2>
            </div>
            <div class="modal-body text-product">
                <p><strong><em>Состав:</em></strong><em> 100%-хлопковая основа, пропитка: 24 вида экстрактов китайских трав: алоэ, мяты, ромашки, сафлора красильного, дудника китайского, эхинацеи китайской, шалфея</em></p>
                <p>Ежедневные прокладки созданы с учетом анатомических особенностей женщины. Так как содержится  хлопковая основа и экстракты из 24 оздоровительных трав, то при применении, происходит ансептическое и антибактериальное действие на слизистую гениталий. Е<strong>жедневные прокладки Diamond city очень часто применяются при комплексной терапии и лечении многих гинекологических и венерических заболеваний.</strong></p>
                <p><strong>Благодаря применению:</strong></p>
                <ul>
                    <li>Устраняется зуд и воспаление</li>
                    <li>Снимаются болезненность и нерегулярность менструального цикла</li>
                    <li>Восстанавливается микрофлора влагалища,  припятствуя распространению патогенной флоры</li>
                    <li>Обеспечивается профилактика и лечение воспалительных процессов разного генеза</li>
                    <li>Устраняется дисгармональные нарушения.</li>
                </ul>
                <p>С ежедневными прокладками Diamond city вы будете себя чувствовать комфортно весь день. К тому же, они позволяют коже дышать и идет нейтрализация неприятных запахов. Благодаря прочной клейкой основе, прокладка держится прочно на все время ее использования.</p>
                <p><strong><em>Показания к применению:</em></strong></p>
                <ul>
                    <li><em>Эрозия шейки матки</em></li>
                    <li><em>Воспаление слизистой оболочки матки, брюшного покрова матки, придатков</em></li>
                    <li><em>Воспалительные процессы органов малого таза, в том числе инфекционные венерические заболевания</em></li>
                    <li><em>Нарушение менструального цикла</em></li>
                    <li><em>Адаптация климактерического периода</em></li>
                    <li><em>Маточные кровотечения</em></li>
                    <li><em>Послеродовый период</em></li>
                    <li><em>Кольпит (в том числе старческий)</em></li>
                    <li><em>Геморрой</em></li>
                    <li><em>Воспаление мочевого пузыря</em></li>
                    <li><em>Цистит</em></li>
                    <li><em>Кандидоз</em></li>
                    <li><em>Радикулит поясничного отдела</em></li>
                </ul>
                <p><strong>Способ применения:</strong>
                    <br /> Пользуйтесь ежедневно, прикрепив клейкой основой к нижнему белью.</p>
                <p><strong>Производство:</strong> Китай</p>
            </div>
        </div>
    </div>
</div>
<div id="product-356" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Женьшеневое мыло с экстрактами трав</h2>
            </div>
            <div class="modal-body text-product">
                <p>Мыло с экстрактом женьшеня — нежное, как бархатный крем, с мягким моющим действием. Мыло содержит вытяжку из корня женьшеня, которая устраняет следы усталости кожи, укрепляет клетки, питает их и наполняет влагой одновременно.</p>
                <p>В состав мыла входят сапонины. Пена, образуемая сапонинами, отличается от обычной мыльной пены тем, что она не содержит щелочи и поэтому не разъедает нежные ткани кожи лица и тела. Сапонины придают коже эластичность, активизируют регенерацию клеток, способствуют формированию новых клеток, повышают иммунитет кожи против бактерий.</p>
				<p>Мыло с женьшенем очень экономично в использовании и не размокает. Имеет мягкий и освежающий аромат женьшеня. Особая формула мыла при использовании обеспечивает обильную кремообразную пену и свежий аромат женьшеня.</p>
            </div>
        </div>
    </div>
</div>
<div id="product-357" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Таблетки содержат комплекс минералов и витаминов, используются для профилактики кариеса, пародонтоза, инфекций верхних дыхательных путей, кровоточивости десен.</h2>
            </div>
            <div class="modal-body text-product">
                <p>Состав: углекислый кальций, обезжиренное сухое молоко, маннитол, желатин, витамин ДЗ, фруктовый порошок.</p>
                <p>Действие: восполнение дефицита кальция, общеукрепляющее средство. Оказывает энергетическое, тонизирующее действие, увеличивает мочеотделение.</p>
				<p>Показания: полезен при заболеваниях ротовой полости и гортани, верхних дыхательных путей. Для лечения и профилактики пародонтоза, кровоточивости десен, кариеса. В период активного роста у детей, если ребенок отказывается принимать порошковый кальций для детей. Показан при гипертонии, атеросклерозе, других сердечно-сосудистых заболеваниях. При остеопорозе, остеохондрозе. При заболеваниях желудочно-кишечного тракта, в т.ч. язвенном колите и болезни Крона, при которых возникает дефицит витамина ДЗ. Для работников профессий, связанных с дефицитом солнечного света. При проживании в климатических условиях и широтах с малым количеством солнечных дней. Используется для профилактики рака молочной железы и яичников, т.к. Витамин ДЗ усиливает защитное действие организма против этих видов рака.</p>
				<p>Способ употребления: предварительно почистив зубы, разжевать или рассосать таблетку. Дозировка: дети до 7 лет по 1 таблетке 1 раз в день, дети до 14 лет-по 1 таб. 2 раза в день, взрослые - по 2-4 таб. в день. Содержание кальция в 1 таб.- 250 мг.</p>
				<p>Курс приема: 1-3 месяца. </p>
				<p>Форма выпуска: 60 таблеток х 1,2 г</p>
            </div>
        </div>
    </div>
</div>
<div id="product-358" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Водонагреватель  тратит на нагрев воды считанные секунды! Установите его на кухне или в ванной – это позволит вам в любое удобное время:</h2>
            </div>
            <div class="modal-body text-product">
                <ul>
					<li>с комфортом принять теплую ванну или просто вымыть голову,</li>
					<li>легко справляться со стиркой и мытьем посуды,</li>
					<li>спокойно заниматься домашней уборкой…</li>
				</ul>
                <p>Возможности использования очень разнообразны! Нагревайте воду быстрее и с меньшими затратами! Всё, что вам понадобится – стандартный водопровод и розетка.</p>
				<p>Подача горячей воды всего через 5 секунд</p>
				<p>Практичное решение для экономии времени, энергии и воды</p>
				<p><i>Экономия воды</i></p>
                <p>Обычные водонагреватели потребляют много воды, а водонагреватель нагревает воду напрямую из крана.</p>
				<p><i>Экономия энергии</i></p>
				<p>Используется проточный метод нагрева – не тратится энергия на предварительный подогрев и поддержание температуры.</p>
				<p>Комплектация:</p>
				<ul>
                	<li>Делимано – мгновенный водонагреватель</li>
					<li>Монтажный комплект</li>
					<li>Инструкция</li>
				</ul>
				<p>Материал: пластик, металл</p>
				<p>Напряжение: 220-240V/50 Гц</p>
				<p>Мощность: 3 кВт</p>
                <p>Рабочее давление: 0.04-0.6 МПа</p>
				<p>Температура нагревания: макс. 60 °С, саморегулирование температуры (напором воды)</p>
				<p>Размеры: 125 x 70 мм</p>
				<p>Вес: 772 г</p>
				<p>Длина шнура: 1 м</p>
				<p>Особенности: Полностью автоматизированное управление, простой монтаж со стандартным змеевиком.</p>
				<p>ПРИМЕЧАНИЕ: Температура воды на выходе отличается в зависимости от исходного напора и температуры воды.</p>
            </div>
        </div>
    </div>
</div>
<!--
<div id="product-359" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Зубная паста противовоспалительная</h2>
            </div>
            <div class="modal-body text-product">
                <p>Описание: Несколько видов</p>
                <p>Назначение и свойства: Благодаря минеральным добавкам проникает быстрее, что повышает эффективность зубной пасты.</p>
				<p>Замедляет образование зубного налета,</p>
				<p>уничтожает бактерии, вызывающие болезни пародонта и кариес,</p>
				<p>а также предупреждает образование зубного камня.</p>
				<p><i>Кроме очищающего действия, лечебные зубные пасты воздействуют непосредственно на патологический процесс, протекающий в ротовой полости. В своем составе они содержат медикаментозные компоненты, действие которых направлено на снятие воспаления десен, уменьшение их кровоточивости, лечение кариеса или снижение чувствительности зубов. </i></p>
            </div>
        </div>
    </div>
</div>
<div id="product-360" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Зубная щетка</h2>
            </div>
            <div class="modal-body text-product">
                <p>Забудьте об их кровоточивости, боли и неприятных ощущениях при чистке зубов! Щетка имеет тончайшие эластичные щетинки, которые не травмируют даже сверхчувствительные десна, но при этом бережно очищают зубы, мягко удаляя налет, грязь и болезнетворные бактерии. Щетка имеет среднюю жесткость. </p>
                <p>Диаметр щетины в основе составляет 0,18 мм, а на окончании — 0,02 мм. При этом, вся щетина абсолютно беспористая и практически не абсорбирует влагу! Плюс ко всему, в зубной щетке-флос на 50% больше щетинок (в сравнении с обычной зубной щеткой).</p>
				<p>Стоит обратить внимание и на форму щетки. Ее ручка имеет особую форму. Это позволяет избежать избыточного давления при очищении полости рта. Ультратонкая щетина тщательно очищает, так как является прочной у своего основания и эластичной на кончиках. </p>
				<p>Способ применения: небольшое количество зубной пасты нанести на зубную щетку. Чистить зубы круговыми движениями, одновременно аккуратно массируя десны. Полость рта ополоснуть небольшим количеством воды, задерживая ее на 20-30 секунд.</p>
            </div>
        </div>
    </div>
</div>
-->
<div id="product-361" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Водонагреватель  тратит на нагрев воды считанные секунды! Установите его на кухне или в ванной – это позволит вам в любое удобное время:</h2>
            </div>
            <div class="modal-body text-product">
                <ul>
					<li>с комфортом принять теплую ванну или просто вымыть голову,</li>
					<li>легко справляться со стиркой и мытьем посуды,</li>
					<li>спокойно заниматься домашней уборкой…</li>
				</ul>
                <p>Возможности использования очень разнообразны! Нагревайте воду быстрее и с меньшими затратами! Всё, что вам понадобится – стандартный водопровод и розетка.</p>
				<p>Подача горячей воды всего через 5 секунд</p>
				<p>Практичное решение для экономии времени, энергии и воды</p>
				<p><i>Экономия воды</i></p>
				<p>Обычные водонагреватели потребляют много воды, а водонагреватель нагревает воду напрямую из крана.</p>
				<p><i>Экономия энергии</i></p>
				<p>Используется проточный метод нагрева – не тратится энергия на предварительный подогрев и поддержание температуры.</p>
				<p>Комплектация:</p>
				<ul>
					<li>Делимано – мгновенный водонагреватель</li>
					<li>Монтажный комплект</li>
					<li>Инструкция</li>
				</ul>
				<p>Материал: пластик, металл</p>
				<p>Напряжение: 220-240V/50 Гц</p>
				<p>Мощность: 3 кВт</p>
				<p>Рабочее давление: 0.04-0.6 МПа</p>
				<p>Температура нагревания: макс. 60 °С, саморегулирование температуры (напором воды)</p>
				<p>Размеры: 125 x 70 мм</p>
				<p>Вес: 772 г</p>
				<p>Длина шнура: 1 м</p>
				<p>Особенности: Полностью автоматизированное управление, простой монтаж со стандартным змеевиком.</p>
				<p>ПРИМЕЧАНИЕ: Температура воды на выходе отличается в зависимости от исходного напора и температуры воды.</p>
            </div>
        </div>
    </div>
</div>
<div id="product-362" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Настольные фильтры Польша:</h2>
            </div>
            <div class="modal-body text-product">
                <p>Фильтр для воды  – идеальное решение для небольших семей. Этот бытовой фильтр для воды относится к типу настольных картриджных фильтров, поэтому установка этой системы очистки воды делается самостоятельно без участия специалиста: он подключается непосредственно на водопроводный кран. Отсутствуют сложности с демонтажом: фильтр для воды откручивается от крана в любое удобное время.</p>
				<p>ПРЕИМУЩЕСТВА</p>
				<p>Благодаря уникальным технологиям материала Арагон, фильтр достигает высочайшего качества очистки от хлора, органических соединений, железа, солей жесткости, тяжелых металлов и даже вирусов, включая вирус гепатита А.</p>
				<p>Очищенная вода приобретает полезные для здоровья свойства и вкусовые качества, значительно улучшающие чай, кофе и любое домашнее блюдо.</p>
				<p>Ресурс фильтр до 7000 литров, что позволяет использовать его не менее года без замены картриджа.</p>
				<p>Очищенная вода поступает из фильтра с высокой скоростью, быстро наполняя кухонные емкости.</p>
				<p>Фильтр  выпускается в модификациях, кондиционирующих воду, минерализующих мягкую воду очищающих от солей жесткости, т.е. умягчающих.</p>
				<p>Фильтр удобно располагается на раковине, занимает минимум места и может при необходимости вместе с вами сменить место жительства.</p>
            </div>
        </div>
    </div>
</div>
<div id="product-363" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Фильтр на кран</h2>
            </div>
            <div class="modal-body text-product">
                <p>Самый маленький, компактный из всех фильтров для воды, сохраняющий высочайшие качества очистки питьевой воды. Насадку на кран можно подключить к любому водопроводному крану.</p>
				<p>Насадки на кран два виды металлическая и керамическая снабжены переключателем режимов работы «с очисткой» и «без очистки», что позволяет не тратить ресурс картриджа на техническую воду, например при мытье посуды.</p>
				<p>Только в насадках на кран используется уникальный материал Арагон.</p>
				<p>Насадки на кран  способны очистить защитить и воду от активного хлора, органических и хлорорганических соединений, нефтепродуктов, железа, солей жесткости, тяжелых металлов и даже вирусов, включая вирус гепатита А, и других вредных веществ.</p>
				<p>Вода, очищенная насадками на кран , приобретает полезные для здоровья свойства и вкусовые качества, значительно улучшающие чай, кофе и любое домашнее блюдо.</p>
				<p>Ресурс фильтр до 3000 литров, что позволяет использовать его не менее года без замены картриджа. Скорость фильтрации 0,5-1 литр в минуту.</p>
				<p>Фильтр удобно располагается на водопроводном кране, и не занимает места на кухне.</p>
				<p>При необходимости вместе с вами сменит место жительства.</p>
            </div>
        </div>
    </div>
</div>
<div id="product-364" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Настойка от печени, почек</h2>
            </div>
            <div class="modal-body text-product">
                <p>Настойка Тремулан Казахстанского производства</p>
				<p>Показание к применению: Хронические заболевания печени, желчного пузыря, почек, предстательной железы, при подагре, лямблиозе, описторхозе.</p>
				<p>Оказывает: противовоспалительное, противогрибковое и противопаразитарное действие</p>
				<p>Состав: кора осины, трава мяты, трава тысячелистника и т.д.</p>
				<p>Срок годности: 2 года</p>
				<p>Способ применения: на упаковке</p>
            </div>
        </div>
    </div>
</div>
<div id="product-365" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">от печени</h2>
            </div>
            <div class="modal-body text-product">
                <p>Натуральный препарат для лечения и восстановления печени. Испытанное и надежное средство, оказывающее эффективную поддержку при остром и хроническом гепатитах, циррозе, печеночной недостаточности и поражениях, вызванных злоупотреблением алкоголем, химическими отравлениями, действием антибиотиков и сильнодействующих лекарств. Благотворное действие этих капсул направлено на полную и быструю реабилитацию печени, регенерацию печеночной ткани, а также включает комплекс оздоравливающих свойств, направленных на повышение иммунитета и общего укрепления организма.</p>
				<p>Капсулы Хуганьлин – средство китайской медицины для устранения застоя и качественного восстановления функций печени. Препарат эффективен при лечении и профилактики гепатитов, цирроза и атеросклероза, вызванного высоким содержанием холестерина и жира в крови. Средство активно стимулирует метаболизм и регенерацию клеток, устраняет повреждение печени от приема алкоголя или влияния химических лекарств. Снимаетощущение тяжести и вздутия в правом подреберье. Укрепляет селезенку, нормализует кислотность и улучшает пищеварение. Оказывает противовоспалительное действие, приводит в норму показатели крови, активизирует природные и естественные пути детоксикации организма.Капсулы обеспечивают восстановление защитных функций печени, желчевыводящих путей и желчного пузыря, а также стабилизируют работужелудочно-кишечного тракта и значительно повышают иммунитет.</p>
				<p>Состав: Гриб линчжи, Jiogulan (Gunostemma), пуэрария волосистая, китайский лимонник, филлантус эмблика, володушка, порошок желчного пузыря свиньи, полынь волосовидная вайда, зеленые бобы и др.</p>
				<p>Форма: Капсулы.</p>
				<p>Объем: 60 капсул.</p>
				<p>Показания к применению: Синдром токсического поражения печени, жировая дистрофия печени, гепатиты, цирроз, печеночная недостаточность.</p>
				<p>Противопоказания: Индивидуальная непереносимость компонентов.</p>
				<p>Способ применения и дозы: 1 раз в день по 2 капсулы. Дозу можно увеличить на плюс одну капсулу в день в случае дисфункции печени или в период запоя.</p>
				<p>Побочные действия: При соблюдении доз и рекомендаций не имеет побочных действий.</p>
				<p>Условия хранения: В сухом прохладном темном месте.</p>
            </div>
        </div>
    </div>
</div>
<div id="product-366" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Средство от ревматизма</h2>
            </div>
            <div class="modal-body text-product">
                <p>Средство от ревматизма имеет прекрасный лечебный эффект. При изготовлении данного продукта использовались японские народные секреты, а также теории медицины Древнего Тибета</p>
				<p>Состав: различные лечебные травы, тоугоцао, змеиное масло, сюецзе, женьшень</p>
				<p>Средство от ревматизма принимается при:</p>
				<ul>
					<li>псевдоревматизме</li>
					<li>боли в пятках</li>
					<li>Онемением конечностей</li>
					<li>болями в мускулах</li>
					<li>головная боль</li>
					<li>артритом</li>
					<li>остеохондроз</li>
					<li>боли в поясницах</li>
					<li>Невралгией седалищного нерва</li>
					<li>грыжах позвоночника</li>
					<li>заболевания костей</li>
					<li>боли в ногах</li>
				</ul>
				<p>Противопоказания: беременные и дети.</p>
				<p>Способ применения: 1-2 капсулы 2 раза в день</p>
				<p>Срок годности 36 месяцев</p>
				<p>Производитель: Китай по Японскому рецепту</p>
            </div>
        </div>
    </div>
</div>
<div id="product-367" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Интимный гель</h2>
            </div>
            <div class="modal-body text-product">
                <p>Данный препарат лечит эрозию шейки матки, сокращает влагалище и регулирует вагинальный кислотно-щелочной баланс, улучшит функцию иммунный системы, имеет хороший эффект при генитальном зуде, постороннем неприятном запахе, увеличении количества бели, вагините бактериальном, вагините трихомонадном, вагините грибковым.</p>
				<p>Состав: экстракты из кордицепса, софоры, стемоны, жгун-корня Моннье, гриба пория, сафлора красильного, алоэ и борнеола</p>
				<p>Номер санитарного надзора: ШЭЙ0165-2013г.</p>
				<p>Форма: 5г</p>
				<p>Срок хранения: на упаковке</p>
				<p>Код ТН ВЭД 3304990000</p>
            </div>
        </div>
    </div>
</div>
<div id="product-368" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Пчелиный подмор</h2>
            </div>
            <div class="modal-body text-product">
                <p>Пчелиный подмор - это природный лекарь, из мертвых тел пчел, в нем есть пчелиное молочко, прополис, мед, жир, воск и хитиновый слой (хитозан)</p>
				<p><strong>Показание к применению:</strong></p>
				<p>* сосудов – варикоз, тромбангиит, тромбофлебит и эндартериит;</p>
				<p>* желез – щитовидной и поджелудочной;</p>
				<p>* почек;</p>
				<p>* онкологические;</p>
				<p>* печени;</p>
				<p>* кожные, в том числе нейродермит и псориаз;</p>
				<p>* дыхательных путей – туберкулез, бронхит, пневмония и бронхиальная астма;</p>
				<p>* суставов и костей – полиартрит и артроз;</p>
				<p>* пищеварительной системы – колит, гастрит, язвы, холецистит, панкреатит и колит;</p>
				<p>* снижение иммунитета;</p>
				<p>* ожирение;</p>
				<p>* глаз – кератит, конъюнктивит, атрофия зрительного нерва и глаукома;</p>
				<p>* носоглотки – отит, ларингит, ринит, гайморит и ангина;</p>
				<p>* ротовой полости.</p>
				<p>Нередко подмор рекомендуют принимать после тяжких болезней и операций, при упадке сил, для замедления старения, укрепления волос и улучшения общего состояния.</p>
				<p>Полезен пчелиный подмор для мужчин – он избавляет от сексуальных нарушений, лечит аденому простаты и даже импотенцию.</p>
				<p>Способ применение: 1 столовая ложка порошка заливается 500 мл кипятка, прием внутрь по 1 чайной ложке 3 раза в день за 15 минут до еды</p>
				<p>Состав: 100% натуральный подмор</p>
				<p>Производство Казахстан</p>
            </div>
        </div>
    </div>
</div>
<div id="product-369" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Мед с пыльцой</h2>
            </div>
            <div class="modal-body text-product">
                <p>Мед с пыльцой, который, как было отмечено выше, содержит множество полезнейших ингредиентов, советуют использовать при терапии и профилактике таких болезней и состояний, как:</p>
				<p>* пониженный иммунитет;</p>
				<p>* болезни печени;</p>
				<p>* заболевания пищеварительной системы;</p>
				<p>* гепатит;</p>
				<p>* гастрит и гастродуоденит;</p>
				<p>* энтероколит;</p>
				<p>* язвенные заболевания ЖКТ;</p>
				<p>* венозная недостаточность;</p>
				<p>* анемия;</p>
				<p>* нервное либо физическое истощение;</p>
				<p>* депрессивные состояния;</p>
				<p>* нарушение кровяного давления;</p>
				<p>* снижение потенции;</p>
				<p>* простатит;</p>
				<p>* болезни эндокринной системы;</p>
				<p>* нервные заболевания.</p>
				<p>Смесь мёда с пыльцой, полезные свойства которой очевидны, можно применять всем: и ребятишкам, и взрослым, и пожилым людям. Однако следует осознавать, что дозировка и условия употребления будут отличаться в каждом индивидуальном случае.</p>
				<p>Состав: 100 % натуральный продукт, добавление 30 минеральных витаминов</p>
				<p>Не рекомендуется:</p>
				<p>- детям до 3-х лет</p>
				<p>- при ГВ</p>
				<p>Производство Казахстан</p>
            </div>
        </div>
    </div>
</div>
<div id="product-370" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Крем карандаш- прополисно- дегтярный</h2>
            </div>
            <div class="modal-body text-product">
                <p>Крем карандаш- прополисно- дегтярный</p>
				<p>Объём / вес: 10 шт. по 0,2 г</p>
				<p>Описание товара</p>
				<p>Целебные вещества, обличенные в форму свечи, сразу всасываются в кровь, минуя печень и пищеварительный тракт, попадая таким образом точно в цель - к органам, нуждающимся в помощи. Крем-карандаши используются, в основном, вагинально и/или ректально.</p>
				<p>В состав входят только натуральные экологически безопасные продукты: масло какао, воск пчелиный, прополис очищенный, экстракт шиповника, экстракт облепихи, мумиё, маточное молочко.</p>
				<p><strong>Способы применения:</strong></p>
				<p>вводить по 1 карандашу 1-2 раза в день, курс 10-20 дней, при необходимости курс повторяют 2-3 раза в год;</p>
				<p>нанести небольшое количество на воспаленные участки кожи и равномерно распределить.</p>
				<p></p>
				<p>Применяется как вспомогательное средство:</p>
				<p>- при геморрое</p>
				<p>- при дерматитах, герпесе,</p>
				<p>- при эрозиях шейки матки, простатите, 
				<p>- для омоложения кожи лица, рук, шеи.</p>
				<p>Прополис оказывает противоспалительное действие, уменьшает отеки и напряжение пораженных тканей.</p>
				<p><strong>МНЕНИЕ:</strong> для профилактики аденомы простаты или простатита, геморроя либо трещин в прямой кишке полезно 1-2 раза в год использовать ректальные прополисные свечи на масле какао.</p>
				<p>Производство Казахстан по рецепту профессора-академика Башкирии</p>
            </div>
        </div>
    </div>
</div>
<div id="product-371" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Крем-карандаш гигиенический</h2>
            </div>
            <div class="modal-body text-product">
                <p><strong>Крем-карандаш гигиенический</strong></p>
				<p>Объём/вес:	10 шт. по 0,2 г</p>
				<p>Страна происхождения: Казахстан</p>
				<p><strong>Описание товара</strong></p>
				<p>Целебные вещества, обличенные в форму свечи, сразу всасываются в кровь, минуя печень и пищеварительный тракт, попадая таким образом точно в цель - к органам, нуждающимся в помощи. Крем-карандаши используются, в основном, вагинально и/или ректально.</p>
				<p>В состав входят только натуральные экологически безопасные продукты: масло какао, воск пчелиный, прополис очищенный, экстракт шиповника, экстракт облепихи, мумиё, маточное молочко.</p>
				<p>Способы применения: </p>
				<p>вводить по 1 карандашу 1-2 раза в день, курс 10-20 дней, при необходимости курс повторяют 2-3 раза в год;</p>
				<p>нанести небольшое количество на воспаленные участки кожи и равномерно распределить.</p>
				<p>Применяется как вспомогательное средство:</p>
				<p>- при воспалении слизистой оболочки матки (эндометрит), 
				<p>- при заболеваниях шейки матки (эрозии, цервициты),
				<p>- при воспалительных процессах во влагалище (кольпиты, вагиниты бактериальной или вирусной природы),
				<p>- при травмах и трещинах эпителия влагалища, 
				<p>- при кандидозе (молочнице).</p>
				<p>Экстракт облепихи увлажняет и смягчает, а также регенирует кожные покровы.</p>
            </div>
        </div>
    </div>
</div>
<div id="product-372" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">спрей</h2>
            </div>
            <div class="modal-body text-product">
                <p><strong>Показания к применению</strong></p>
				<p>Прополис может быть эффективен при лечении заболеваний ЛОР- органов: ринофарингиты, фарингиты, ларингиты.</p>
				<p>Биологические активные вещества прополиса оказывают антибакте¬риальное, противогрибковое, противовоспалительное, регенерирующее, антиоксидантное, местноанестезирующее и дезодорирующее действие.</p>
				<p><strong>Способ применения и дозы</strong></p>
				<p>Снимают крышку флакона и навинчивают распылительную насадку. Для заполнения насадки делают 3-5 нажатий на головку распылителя, направив струю на кусочек бумаги.</p>
				<p>При JlOP-заболеваниях вводят туб для направления струи в полость рта, как можно ближе к лакунам и супратонзиллярным пространствам, задерживают дыхание и равномерно орошают слизистую оболочку глотки и гортани, нажимая на головку распылителя. Орошение проводят 2-4 раза в день (при необходимости - через каждые 4 ч).</p>
				<p>Продолжительность курса лечения определяется лечащим врачом в зависимости от характера и тяжести заболевания и составляет около 3-7 дней.</p>
				<p><strong>Состав</strong></p>
				<p>20 г раствора содержат действующего вещества: прополиса экстракта жидкого 1:3 - 4,0 г (экстрагент спирт этиловый 96 %); вспомогательных веществ', глицерина и спирта этилового разведенного 80 %.</p>
				<p>40 г раствора содержат действующего вещества: прополиса экстракта жидкого 1:3 - 8,0 г (экстрагент спирт этиловый 96 %); вспомогательных веществ: глицерина и спирта этилового разведенного 80 %.</p>
				<p><strong>Описание</strong></p>
				<p>Раствор от темно-желтого до красновато-коричневого цвета, с характерным запахом прополиса.</p>
				<p>Условия хранения:</p>
				<p>- В защищенном от влаги и света месте, при температуре 15-25 °С.</p>
				<p>- Хранить в недоступном для детей месте.</p>
				<p><strong>Срок годности</strong></p>
				<p>2 года</p>
				<p>Не применять после истечения срока годности, указанного на упаковке.</p>
				<p>Казахстан</p>
            </div>
        </div>
    </div>
</div>

<section class="_marketing ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left" id="marketing">
                <h3 class="wow fadeInLeftBig">Маркетинг</h3></div>

			<div class="col-md-5 col-xs-12 text-left _marketing-block wow fadeInLeftBig">
                <div class="_marketing_item">
                    <h4>Вход «Start» 20.000 тг + товар на выбор</h4>
                    <div style="line-height: 1; font-size: 16px;">
						<p>Примерный расчет Вашего заработка:</p>
                        <p>1 уровень 4000 х 2 = от 8000 тг ( <b> &infin; </b> )</p>
                        <p>2 уровень 1200 х 4 = от 4800 тг ( <b> &infin; </b> )</p>
                        <p>3 уровень 1200 х 8 = от 9600 тг ( <b> &infin; </b> )</p>
                        <p>4 уровень 1200 х 16 = от 19 200 тг ( <b> &infin; </b> )</p>
                        <p>5 уровень 1200 х 32 = от 38 400 тг ( <b> &infin; </b> )</p>
                        <p>6 уровень 1200 х 64 = от 76 800 тг (при полном выполнении именно 6 уровня «Путевка») ( <b> &infin; </b> )</p>
                        <p>7 уровень 1200 х 128 = от 153 600 тг ( <b> &infin; </b> )</p>
                        <p style="background-color: #2c3293;">Денежный <strong>бонус  125.000 тг, с командой 128 человек при наличии 2 и более рабочих веток</strong></p>
                        <p>Промоушн: 4 лично приглашенных по 20.000 тг, подарок <strong>Электротовар</strong>.</p>
                    </div>
                    <span style="font-size: 12px;">-10% налог удерживается только с денежных бонусов</span>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-6 col-xs-12  text-left _marketing-block wow fadeInRightBig">
                <div class="_marketing_item">
                    <h4>Вход «Сапфир» 50.000 тг + товар на выбор</h4>
                    <div style="line-height: 1; font-size: 16px;">
						<!-- из-за фонового рисунка надо каждую строку сдвигать вправо-влево, чтобы было читабельно -->
						<p style="padding-left: 80px;">Примерный расчет Вашего заработка:</p>
						<p style="padding-left: 65px;">1 уровень 8000 х 2 = от 16 000 тг ( <b> &infin; </b> )</p>
						<p style="padding-left: 65px;">2 уровень 3000 х 4 = от 12 000 тг ( <b> &infin; </b> )</p>
						<p style="padding-left: 65px;">3 уровень 3000 х 8 = от 24 000 тг ( <b> &infin; </b> )</p>
						<p style="padding-left: 65px;">4 уровень 3000 х 16 = от 48 000 тг ( <b> &infin; </b> )</p>
						<p style="padding-left: 65px;">5 уровень 3000 х 32 = от 96 000 тг ( <b> &infin; </b> )</p>
						<p style="padding-left: 65px;">6 уровень 3000 х 64 = от 192 000 тг (при полном выполнении именно 6 уровня «Путевка») ( <b> &infin; </b> )</p>
						<p style="padding-left: 65px;">7 уровень 3000 х 128 = от 384 000 тг ( <b> &infin; </b> )</p>
						<p style="font-size: 14px;">Денежный <b>бонус  250.000 тг, с командой 128 человек при наличии 2 и более рабочих веток</b></p>
                        <p style="padding-left: 0px; font-size: 14px; background-color: #2c3293;">Промоушн: 4 лично приглашенных по 50.000 тг, подарок <strong>Золотое кольцо с сапфиром, мужчинам брендовые часы</strong></p>
                    </div>
                    <!--<span style="background-color: #2c3293; font-size: 12px;">-10% налог удерживается только с денежных бонусов</span>-->
                </div>
            </div>

			<div class="col-md-5 col-xs-12 text-left _marketing-block wow fadeInLeftBig">
                <div class="_marketing_item">
					<h4>Вход «VIP» 200.000 тг + товар на выбор</h4>
                    <div style="line-height: 1; font-size: 14px;">
						<p>Примерный расчет Вашего заработка:</p>
						<p>1 уровень 25 000 х 2 = от 50 000 тг ( <b> &infin; </b> )</p>
						<p>2 уровень 9000 х 4 = от 36 000 тг ( <b> &infin; </b> )</p>
						<p>3 уровень 9000 х 8 = от 72 000 тг ( <b> &infin; </b> )</p>
						<p>4 уровень 9000 х 16 = от 144 000 тг ( <b> &infin; </b> )</p>
						<p>5 уровень 9000 х 32 = от 288 000 тг ( <b> &infin; </b> )</p>
						<p>6 уровень 9000 х 64 = от 576 000 тг ( <b> &infin; </b> )</p>
						<p>7 уровень 9000 х 128 = от 1 152 000 тг ( <b> &infin; </b> )</p>
						<p>30 человек с командой, при наличии <strong>2 и более рабочих веток</strong>, бонус компании «Путевка», а так же крупный бонус <strong>3.000.000 тенге с командой 128 человек  при выполнении условии 2 и более активных веток! Последующие бонусы по новым 128 человек 1.250.000 тг (каждый раз бесконечно)</strong></p>
						<p style="background-color: #2c3293;">Промоушн: 4 лично приглашенных если  по 200.000 подарок <strong>Золотые часы с кожаным ремнем</strong></p>
                    </div>
                    <span style="background-color: #2c3293; font-size: 12px;">-10% налог удерживается только с денежных бонусов</span>
                </div>
            </div>

			<div class="col-md-8 col-md-offset-6 col-xs-12  text-left _marketing-block wow fadeInRightBig" style="padding-top: 5px;">
                <div class="_marketing_item">
                    <p style="padding-left: 85px;"><strong>Важно: Официальные вознаграждения компании (промушн и денежный бонус) Вы получаете неоднократно, при выполнении условии:</strong></p>
                    <ul>
                        <li><strong>START – 4 лично приглашенных электротовар</strong></li>
                        <li><strong>Сапфир – 4 лично приглашенных Золотое кольцо, мужчинам брендовые часы</strong></li>
                        <li><strong>VIP – 4 лично приглашенных Золотые часы с кожаным ремнем</strong></li>
						<li><strong>В том числе и денежные бонусы!</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="_price">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left" id="price-list">
                <h3 class="wow fadeInLeftBig">Прайс-лист</h3>
            </div>
            <div class="col-md-12">
                <div class="_price_table">
                    <ul>
                        <li class="wow fadeInRightBig" style="background-color: #2c3293;">
                            <div class="_price_table_left">Название товара</div>
                            <div class="_price_table_right"><span>Цена</span></div>
                        </li>
						
                        <li class="wow fadeInRightBig">
                            <div class="_price_table_left">
                                <p>Фитотампон (6шт в упаковке, штука 1250 тг</p>
                            </div>
                            <div class="_price_table_right"><span>7500 тг</span></div>
                        </li>
						
                        <li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Прокладки на критические дни</p>
                            </div>
                            <div class="_price_table_right"><span>2000 тг</span></div>
                        </li>
						
                        <li class="wow fadeInRightBig">
                            <div class="_price_table_left">
                                <p>Мужская сила из женьшеня и пантов отдельно по 3500 тг (3шт в пачке на 9 раз)</p>
                            </div>
                            <div class="_price_table_right"><span>14000 тг</span></div>
                        </li>
                        
						<li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Мыло с маслом змеи 3в1 антиморщ.антиакне</p>
                            </div>
                            <div class="_price_table_right"><span>2500 тг</span></div>
                        </li>
                        <li class="wow fadeInRightBig">
                            <div class="_price_table_left">
                                <p>Мыло с женьшень отбеливающий</p>
                            </div>
                            <div class="_price_table_right"><span>3000 тг</span></div>
                        </li>
                        <li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Ежедневки лечебные</p>
                            </div>
                            <div class="_price_table_right"><span>1500 тг</span></div>
                        </li>
                        <li class="wow fadeInRightBig">
                            <div class="_price_table_left">
                                <p>Сердечно-мозговой капсула (БАД)</p>
                            </div>
                            <div class="_price_table_right"><span>8500 тг</span></div>
                        </li>
                        <li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Жевательный кальции (БАД)</p>
                            </div>
                            <div class="_price_table_right"><span>8500 тг</span></div>
                        </li>
                        <!--
						<li class="wow fadeInRightBig">
                            <div class="_price_table_left">
                                <p>Зубная паста лечебная</p>
                            </div>
                            <div class="_price_table_right"><span>3000 тг</span></div>
                        </li>
						-->
						<!-- deleted 2018-07-19 by asking Client
                        <li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Пластырь от гипертонии</p>
                            </div>
                            <div class="_price_table_right"><span>111</span><span>1000 тг</span></div>
                        </li>
						-->
						<!--
                        <li class="wow fadeInRightBig">
                            <div class="_price_table_left">
                                <p>Зубная щетка (золотое напыление, лечебный с углем)</p>
                            </div>
                            <div class="_price_table_right"><span>2500 тг</span></div>
                        </li>
						-->
<!--
                        <li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Водонагреватель для кухни (Италия)</p>
                            </div>
                            <div class="_price_table_right"><span>30000 тг</span></div>
                        </li>
                        <li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Водонагреватель для душа (Италия)</p>
                            </div>
                            <div class="_price_table_right"><span>40000 тг</span></div>
                        </li>
-->
                        <li class="wow fadeInRightBig">
                            <div class="_price_table_left">
                                <p>Крем-мед с пыльцой (Казахстан)</p>
                            </div>
                            <div class="_price_table_right"><span>10000 тг</span></div>
                        </li>

                        <li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Средство от ревматизма (БАД)</p>
                            </div>
                            <div class="_price_table_right"><span>8500 тг</span></div>
                        </li>

						<li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Подмор (Казахстан)</p>
                            </div>
                            <div class="_price_table_right"><span>12000 тг</span></div>
                        </li>

						<li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Крем-карандаш гемморой</p>
                            </div>
                            <div class="_price_table_right"><span>16000 тг</span></div>
                        </li>

						<li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Фильтр настольный (Польша) для очистки воды</p>
                            </div>
                            <div class="_price_table_right"><span>40000 тг</span></div>
                        </li>
						
						<li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Гель интимный лечебный</p>
                            </div>
                            <div class="_price_table_right"><span>2000 тг</span></div>
                        </li>

						<li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Настойка для печени и почек (Казахстан)</p>
                            </div>
                            <div class="_price_table_right"><span>7500 тг</span></div>
                        </li>

						<li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Крем – карандаш гигиенический</p>
                            </div>
                            <div class="_price_table_right"><span>16000 тг</span></div>
                        </li>

						<li class="wow fadeInLeftBig">
                            <div class="_price_table_left">
                                <p>Спрей полости рта</p>
                            </div>
                            <div class="_price_table_right"><span>4000 тг</span></div>
                        </li>

					</ul>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="_reviews">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left wow fadeInLeftBig" id="feeds">
                <h3>Отзывы</h3>
            </div>

			<div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
            <div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Рахметова Гаухар:<br>
					Diamond City бізді ұйқыдан айырды :) Бірақ капсула сердечно-мозговаямен достасып, 3 сағат ұйықтап, керемет миым тынығып, таңертеңгілік тұрғанда бір сергектік бойымнан байқаймын. Бұл қалайша деп таң қалып, басымды шайқаймын :) Содан осындай продукцияны елге әкелген Диана Сабитовна ханымға шексіз алғысымды арнаймын! ;)</p>
                </div>
            </div>
            
			<div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
            <div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Манасова Динара:<br>
					Күнде таң ертең озім лично қолданамын, женьшень тамырының солiнен алынып, жасалынған бұл сабынды мен бiрден бiрнеше затқа тенегiм келiп тұр: 1. Пена эффектiсi бар, кешкiсiн макияжды кетiру үшiн гель для умывания, пенка керек емес, 100% очистка кожи от макияжа 2. Нежный крем сияқты, таң ертең бетiмдi жуып, кожамның сондай увлажненный и гладкий екенін байқап, кремде жақпаймын, мүлдем 3. Освежает, отбеливает и очищает кожу, соның арқасында аппақ, тап-таза терiңiздi көрiп, тоналка, пудра дегендi ұмытасыз ☝🏻☝🏻☝🏻 бұл менiң, және озiме қарасты адамдардан көрiп жазып отырған опыт және отзыв! Өздерiңiз қолданып көрiңiздер :-) 💎💎💎</p>
                </div>
            </div>

            <div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
			<div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Аноним:<br>
					Осы 1 апта бұрын болған жағдай, бiр ер адам, аты жұмбак болып қалсын 🚫 өйткени айтпаңызшы деп қатты өтініп сұрады.
Неше жылдан берi цистит қинаған екен, негiзi научно доказано ☝🏻 80% әйел және 20% ер адамда цистит болады, сол 20% iшiнде ағамыз бар екен, сол кiсiнiн аузынан: «не ішпедiм, қатты күлiп, не болмаса түшкiруге қорқатынмын, мен үшiн үлкен проблема, бірақ не болсада осы ежедневкимен от цистита и прокладка қолданып көрейншi деп шештiм, күндiз ежедневка, ал түнде прокладка критические дни қолдандым, 24 сағаттан кейн результат көрдiм, туалетке барғанда рахаттандым, жұмыс iстеп отырып 4-5 сағатка дейн ұмытылып кетіп жүрмин, сенбегеннен қатты күлип те, скакалкамен секіріп те көрдим, 1 прокладка и 2 ежелневка қолдандым, керемет 👏👏👏👏 керемет екен, Рахмет сiзге, бірақ анонимно болсыншы, а айтпақшы ұлтарақтың орнына критические дни прокладка салып жүрмин 2-3 күн болды, жұмысым далада суықта болғандықтан, осы керемет заттың арқасында аяғым да жаурамай жүр 💪🏻💪🏻💪🏻» деп жазыпты ағамыз! Ал сiздердiң қандай қосарларыңыз бар?🙄</p>
                </div>
            </div>

			<div class="col-md-2 wow fadeInLeftBig">
                <div class="_reviews_image">
                    <img src="./wp-content/uploads/2018/11/no_photo.jpg" alt="reviews">
                </div>
            </div>
			<div class="col-md-10 wow fadeInRightBig">
                <div class="_reviews_text">
                    <p>Ақбергенова Диана:<br>
					Прокладки на критические дни, Diamond City ! Шыны керек, жаңа босанып жатқам, 4-5 күн ғана болды, қолдануға біраз қорқақтап жүрдім, разрыв болып, 4 швы салды! 1 рет салып көрдім, 2-3 сағаттан кейін қатты судорогы болып, температурам көтеріліп, ну нафиг деп алып тастадым, басылды, ертеңiнде қой, өзiм үшiн керек қой деп қайта көрдiм, қыздырғанда сұмдық, одан кейін басылды, 1 ай отыруға болмайды деген, және бәрiмiз білеміз босанғаннан кейін отыру да қиын, бірақ мен 10 күннен кейін отырдым, кожам эластичный екенiн өзiм де сезiндiм, месячный айма-ай келiп тұрды, обычно басқалардікі 1 жылға дейін тоқтап қалушы едi 🤔 бiр жағынан ол да дұрыс шығар, зато организмде застой болмайды деп ойландым, ежедневканы да қолданып, қандай керемет ощущение, особенно қыста, 4 айдан кейін УЗИға бардым, врач даже думала что я не рожавшая, шрам да, травма да жоқ, сокращение 100% болған, ал өзіңді 200% сезінесің, врачтың өзi таң қалып, біздiң потребитель болып отыр 💗</p>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="_contacts">
    <div class="container" id="contact">
        <div class="row wow fadeInLeftBig">
            <div class="col-xs-12 text-left wow fadeInLeftBig">
                <h3>Контакты</h3>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12  _contacts_left text-left">
                <div class="_contacts_info">
                    <span>Акбергенова Диана Сабитовна  
<br>Президент</span>
                    <span><a href="tel:+7 707 21 77 466" style="position: relative;">+7 707 21 77 466</a></span>
					<span><a href="mailro:diamond8city@gmail.com" style="position: relative;">diamond8city@gmail.com</a></span>
                    <span><a href="https://yandex.ua/maps/?z=14&ll=76.9047921903606%2C43.23563335842474&l=map&origin=jsapi_2_1_56&from=api-maps&um=constructor%3Abae47bfc427b031197cbf8b206ad8d6292917e071437a15b73b6596508280d56&mode=usermaps" target="_blank" style="position: relative;">г. Алматы, ул. Мынбаева, 46 офис 211</a></span>
					<span>Директор по работе с регионами Молдашева Зауре: <a href="tel:+7 747 6258907" style="position: relative;">+7 747 6258907</a></span>
					<span>Директор склада Сабит Дамир: <a href="tel:+7 747 7870196" style="position: relative;">+7 747 7870196</a></span>
					<span style="background-color: #2c3293; color: white;">Офис г.Шымкент: Проспект Республики, 25, офис 23. Руководитель: Турсынбаева Бибигуль, <a href="tel:+7 707 210 0301" style="position: relative;">+7 707 210 0301</a></span>
					<span style="background-color: #2c3293; color: white;">Офис г.Астана: ул.Кенесары, 40 БЦ "7Континент", 1010А каб.</span>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12 col-md-offset-2 text-left _contacts_right">
                <div class="_contacts_form">
                    <h4>Напишите нам</h4>
                    <div role="form" class="wpcf7" id="wpcf7-f86-o1" lang="ru-RU" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form action="/#wpcf7-f86-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="86" />
                                <input type="hidden" name="_wpcf7_version" value="5.0" />
                                <input type="hidden" name="_wpcf7_locale" value="ru_RU" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f86-o1" />
                                <input type="hidden" name="_wpcf7_container_post" value="0" />
                            </div>
                            <p><span class="wpcf7-form-control-wrap text-218"><input type="text" name="text-218" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required diamant-name" aria-required="true" aria-invalid="false" placeholder="Имя" /></span>
                                <br />
                                <span class="wpcf7-form-control-wrap tel-565"><input type="tel" name="tel-565" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel diamant-tel" aria-required="true" aria-invalid="false" placeholder="Телефон" /></span>
                                <br />
                                <span class="wpcf7-form-control-wrap email-714"><input type="email" name="email-714" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email diamant-email" aria-invalid="false" placeholder="Электронная почта" /></span></p>
                            <p>
                                <input type="submit" value="ОТПРАВИТЬ" class="wpcf7-form-control wpcf7-submit diamant-send" />
                            </p>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6  wow fadeInLeftBig">
                <div class="_footer_info">
                    <h4><a href="/">Diamond City</a></h4>
                    <span><a href="tel:+ 7 707 21 77 466">+ 7 707 21 77 466</a></span>
                    <span><a href="mailto:diamond8city@gmail.com  ">diamond8city@gmail.com  </a></span>
                    <span><a href="https://yandex.ua/maps/?z=14&ll=76.9047921903606%2C43.23563335842474&l=map&origin=jsapi_2_1_56&from=api-maps&um=constructor%3Abae47bfc427b031197cbf8b206ad8d6292917e071437a15b73b6596508280d56&mode=usermaps" target="_blank">г. Алматы, ул. Мынбаева, 46 офис 211</a></span>
                    <div class="_footer_info_social">
                        <a href=""><img src="./wp-content/themes/mytheme/img/icon/vk.png" target="_blank" alt=""></a>
                        <a href=""><img src="./wp-content/themes/mytheme/img/icon/fb.png" target="_blank" alt=""></a>
                        <a href=""><img src="./wp-content/themes/mytheme/img/icon/telegram.png" target="_blank" alt=""></a>
                        <a href=""><img src="./wp-content/themes/mytheme/img/icon/twitter.png" target="_blank" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 _footer_map wow fadeInRightBig">
                <div class="_footer_map_item">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abae47bfc427b031197cbf8b206ad8d6292917e071437a15b73b6596508280d56&amp;width=100%25&amp;height=375&amp;lang=ru_UA&amp;scroll=true"></script>
                </div>
            </div>
        </div>
    </div>
    <a id="back-to-top" href="" class="btn btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="right"><img src="./wp-content/themes/mytheme/img/up.png" alt=""></a>
</footer>
<div class="col-xs-12 tel-what">
    <div class="col-xs-6 desk2">
        <i class="fa fa-phone" aria-hidden="true" style="padding:5px;"></i>
        <a href="tel:+ 7 707 21 77 466">ПОЗВОНИТЬ</a>
    </div>
    <div class="col-xs-6 desk1">
        <i class="fa fa-whatsapp" aria-hidden="true" style="padding:5px;"></i><a href="https://api.whatsapp.com/send?phone=77072177466" target="_blank"> WHATSAPP</a>
        <br>
    </div>
</div>